@font-face { font-family: gurmukhi_heavy; src: url('../fonts/GurbaniAkharHeavyTrue.ttf'); }
  
body {
  font-size: 18px;
}
/* Global Helper Classes */
.gurbani-font {
  font-family: gurmukhi_heavy !important;
  font-size: 1.8em;
}
.gurbani-font-normal {
  font-family: gurmukhi_heavy !important;
}
.hidden {
  display: none;
}
.text-center {
  text-align: center;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  not supported by any browser */
}

/* Flex Helper Classes */
.flex {
  display: flex;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-start {
  justify-content: flex-start;
}
.flex.flex-end {
  justify-content: flex-end;
}
.flex.align-center {
  align-items: center;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.space-around {
  justify-content: space-around;
}
.flex.space-between {
  justify-content: space-between;
}

.text-center {

}

/**********
 * Nav bar
 **********/
.top-bar-logo-small {
  width: 3em;
}
.logo-long {
  max-height: 125px;
  margin: 1em;
}
#responsive-menu {
  float: left;
  width: calc(100% - 70px); /* Logo - 54px + 1rem(16px) margin */
}
.top-bar .top-bar-left {
  height: 54px;
  padding-top: 7px;
}
.top-bar-right .menu > li > a {
  margin: 7px 0;
}

/* Search Results */
.search-results {
  margin: 0.7rem;
}
.search-result {
  list-style: none;
  margin: 1em 0;
}
.search-result a {
  text-decoration: none;
  color: #00669B;
}
.search-result p {
  margin-bottom: 0;
}
.search-result .url {
  color: green;
  display: block;
  word-wrap: break-word;
}
.search-result .meta a {
  color: grey;
  padding-right: 5px;
}
@media screen and (min-width: 40em) {
  .search-results {
    margin: 1em 3em;
  }
}

/**************
 * Search Page
 **************/
.search-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.search-form {
  margin: 5em;
}
.dropdown.menu li a {
  display: none;
}
.dropdown.menu li a:first-child {
  display: block;
}

/**************
 * Shabad Page
 **************/
#controls.hidden {
  display: none;
}
#controls {
  padding: 0 5px;
  margin: 10px;
}
#controls > div {
  margin: 0 10px;
}
#controls input[type="checkbox"] {
  display: none;
}
#controls label {
  font-size: 1rem;
  border: 1px solid #cacaca;
  border-radius: 2px;
  padding: 4px 10px;
  transition: all .25s;
  margin-right: 0px;
}
#controls input[type="checkbox"]:checked + label {
  border-color: #1583cc;
  background-color: #1583cc;
  color: white;
}
.shabad {
  display: flex;
  justify-content: center;
}
.shabad-container {
  width: 100vw;
}
.shabad-content {
  padding: 0 5vw;
}
.shabad-content > div {
  margin-bottom: 1rem;
}
.shabad-content p {
  margin-bottom: 0;
}
.shabad .transliteration {
  text-tranform: capitalize;
}
