@font-face { font-family: gurmukhi_heavy; src: url('../fonts/GurbaniAkharHeavyTrue.ttf'); }
  
body {
  font-size: 18px;
}
/* Global Helper Classes */
.gurbani-font {
  font-family: gurmukhi_heavy !important;
  font-size: 1.8em;
}
.hidden {
  display: none;
}

/* Flex Helper Classes */
.flex {
  display: flex;
}
.flex.justify-center {
  justify-content: center;
}
.flex.align-center {
  align-items: center;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.space-around {
  justify-content: space-around;
}
.flex.space-between {
  justify-content: space-between;
}

/**********
 * Nav bar
 **********/
.top-bar-logo-small {
  width: 3em;
}
.logo-long {
  height: 5em;
  margin: 1em;
}

/* Search Results */
.search-results {
  margin: 1em 3em;
}
.search-result {
  list-style: none;
  margin: 1em 0;
}
.search-result a {
  text-decoration: none;
  color: #00669B;
}
.search-result .url {
  color: green;
  display: block;
}
.search-result .meta a {
  color: grey;
  padding: 0 5px;
}

/**************
 * Search Page
 **************/
.search-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.search-form {
  margin: 5em;
}
.dropdown.menu li a {
  display: none;
}
.dropdown.menu li a:first-child {
  display: block;
}

/**************
 * Shabad Page
 **************/
.shabad {
  display: flex;
  justify-content: center;
}
.shabad .buttons {
  background-color: darkgrey;
}
.shabad .buttons label {
  color: white;
  font-size: 1.2em;
}
.shabad-content {
  width: 90vw;
}
.shabad .transliteration {
  text-tranform: capitalize;
}
