@font-face { font-family: gurmukhi_heavy; src: url('/fonts/GurbaniAkharHeavyTrue.ttf?v=1'); }

body {
  font-size: 18px;
  height: auto;
  min-height: 100%;
  padding-bottom: 100px;
  position: relative;
}
/* Global Helper Classes */
.gurbani-font {
  font-family: gurmukhi_heavy !important;
}
.gurbani-display {
  font-size: 1.4em;
}
.hidden {
  display: none;
}
.text-center {
  text-align: center;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  not supported by any browser */
}
.button {
  margin: 0;
}

/* Flex Helper Classes */
.flex {
  display: flex;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-start {
  justify-content: flex-start;
}
.flex.flex-end {
  justify-content: flex-end;
}
.flex.align-center {
  align-items: center;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.space-around {
  justify-content: space-around;
}
.flex.space-between {
  justify-content: space-between;
}

/* ***** ERROR ***** */
#error-code {
  color: #01669b;
  font-family: cursive, sans-serif;
  font-size: 7rem;
  font-weight: bold;
}
#error-msg {
  color: #f39c1d;
  font-weight: bold;
}
#error-desc {
  margin-top: 3rem;
}

/**********
 * Nav bar
 **********/
.top-bar,
.top-bar ul {
  background-color: #fafafa;
}
.top-bar {
  border-bottom: 1px solid #ebebeb;
  position: relative;
}
.home .top-bar,
.home .top-bar ul {
  background: transparent;
  border: none;
}
.home .top-bar-title {
  margin: 0;
  visibility: hidden;
}
.top-bar-title a {
  background-image: url(/images/sttm_logo_beta.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 54px;
  width: 100%;
}
.top-bar-logo-small {
  width: 3em;
}
.top-bar .top-bar-left {
  height: 54px;
  padding-top: 7px;
}
.top-bar-right .menu > li {
  display: inline-block;
}
.top-bar-right .menu > li > a,
footer .menu li a {
  color: #252525;
  font-size: 0.9em;
  margin: 0;
  padding: 1rem;
}
.top-bar-right .menu > li > a:hover,
footer .menu li a:hover {
  background-color: #ddd;
}
#search-container {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 44px;
  margin: 0;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#search {
  background: transparent;
  border: none;
  box-shadow: none;
  display: inline-block;
  float: left;
  height: 44px;
  margin: 0;
  position: relative;
  width: calc(100% - 88px);
}
#search-container > button {
  color: #fff;
  display: inline-block;
  height: 44px;
  padding: 0.5rem;
  width: 44px;
}
#search-container button[type=submit] {
  background-color: #01669b;
}
#search-container .gurmukhi-keyboard-toggle {
  background-color: #fff;
  color: #999;
}
#search-container .gurmukhi-keyboard {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: none;
  font-size: 0;
  position: absolute;
  overflow: hidden;
  width: 288px;
}
.gurmukhi-keyboard .page {
  display: none;
}
.gurmukhi-keyboard .keyboard-row {
  border-bottom: 2px solid #999;
}
.gurmukhi-keyboard .keyboard-row-set {
  display: inline-block;
  width: 50%;
}
.gurmukhi-keyboard .keyboard-row:nth-child(2n-1) .keyboard-row-set:nth-child(1),
.gurmukhi-keyboard .keyboard-row:nth-child(2n) .keyboard-row-set:nth-child(2) {
  background-color: #ccc;
}
.gurmukhi-keyboard button {
  color: #333;
  font-size: 1rem;
  line-height: 2;
  text-align: center;
  width: 20%;
}

/*#search:hover,
#search:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}*/

#open_mobile_menu {
  background-color: #fff;
  border: 1px solid #f39c1d;
  border-radius: 2px;
  color: #f39c1d;
  font-size: 1rem;
  height: 48px;
  line-height: 18px;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 48px;
}
#search-options {
  clear: both;
  margin-left: 70px;
  padding: 0.5rem 0 0;
  width: 244px;
}
.open-search-options #search-options {
  max-height: 50px;
}
#search-options select {
  display: inline-block;
  margin: 0;
  width: calc(50% - 0.5rem);
}
#search-options select:nth-child(1) {
  margin-right: 1rem;
}

.body_text {
  padding: 1rem;
}
.body_text h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

/* ***** FOOTER ***** */
footer {
  background-color: #fafafa;
  bottom: 0;
  border-top: 1px solid #ebebeb;
  height: 49px;
  left: 0;
  position: absolute;
  width: 100%;
}


/* Search Results */
.search-results {
  margin: 0.5rem 0;
}
.search-result,
.load-more {
  border-bottom: 1px solid #ddd;
  list-style: none;
  padding: 0.5rem 1rem;
}
.search-result a {
  text-decoration: none;
  color: #00669B;
}
.search-result p {
  margin-bottom: 0;
}
.search-result .url {
  color: green;
  display: block;
  word-wrap: break-word;
}
.search-result .meta a {
  color: grey;
  padding-right: 5px;
}
.load-more {
  text-align: center;
}

/**************
 * Search Page
 **************/
.search-page {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}
.search-form {
  max-width: calc(320px - 2rem);
}

.logo-long {
  max-height: 125px;
  margin: 1rem 0;
}
.home #search {
  margin-bottom: 1rem;
}

/**************
 * Shabad Page
 **************/
#controls-wrapper.hidden {
  display: none;
}
#controls-wrapper {
  background-color: #fff;
  margin: 1rem 0;
  padding-top: 0.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}
#controls-wrapper > div {
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}
#shabad-controllers {
  overflow-x: auto;
  white-space: nowrap;
}
.shabad-controller-toggle,
.display-option-toggle {
  border: 1px solid #cacaca;
  border-radius: 2px;
  color: #000;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.8;
  margin: 0;
  padding: 4px 10px;
  transition: all .25s;
  vertical-align: baseline;
}
.shabad-controller-toggle:hover,
.display-option-toggle:hover {
  border-color: #01669b;
  color: #01669b;
}
.shabad-controller-toggle.active,
.shabad-controller-toggle.active:hover,
.display-option-toggle.active,
.display-option-toggle.active:hover
 {
  border-color: #01669b;
  background-color: #01669b;
  color: white;
}
/* Hide Larivaar Assist if Larivaar is not checked */
#larivaar-toggle:not(.active) + a {
  display: none;
}
.display-option-type {
  margin-bottom: 1rem;
}
#metadata {
  border: 1px solid #cacaca;
  border-radius: 2px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
.shabad {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}
.shabad-container {
  width: 100%;
}
.shabad-content > div {
  margin-bottom: 1rem;
}
.shabad .line {
  position: relative;
}
.shabad-content p {
  clear: both;
  margin-bottom: 0;
}
.shabad-content blockquote {
  clear: both;
}
.shabad .transliteration {
  text-tranform: capitalize;
}
.shabad .unicode,
.shabad .translation,
.shabad .transliteration {
  display: none;
}
.shabad.unicode .unicode {
  display: block;
}
.shabad.unicode .gurlipi {
  display: none;
}
.shabad.translation-english .translation.english,
.shabad.translation-punjabi .translation.punjabi,
.shabad.translation-spanish .translation.spanish,
.shabad.transliteration-english .transliteration.english {
  display: block;
}
.shabad .gurlipi i,
.shabad .unicode i {
  font-style: normal;
}
.shabad.larivaar .gurlipi span,
.shabad.larivaar .gurlipi i,
.shabad.larivaar .unicode span,
.shabad.larivaar .unicode i {
  float: left;
}
.shabad.larivaar.larivaar_assist .gurlipi span:nth-of-type(2n),
.shabad.larivaar.larivaar_assist .unicode span:nth-of-type(2n) {
  color: #F39C1D;
}
.shabad .line .share {
  background-color: rgba(255, 255, 255, 0.85);
  display: none;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
}
.shabad .line:hover .share {
  display: block;
}
.shabad .share a {
  color: #000;
  margin-left: 5px;
  padding: .5rem;
}
.shabad .share .copy:hover {
  color: #f39c1d;
}
.shabad .share .twitter:hover {
  color: #00aced;
}
.shabad .share .facebook:hover {
  color: #3b5998;
}
.shabad textarea {
  display: none;
}

@media screen and (max-width: 39.999999em) {
  .top-bar-title {
    float: none;
    margin: 50px 0 0;
    text-align: center;
    width: 100%;
  }
  .top-bar .top-bar-left .menu li {
    display: block;
  }
  #search {
    max-width: none;
  }
  #search-options {
    margin: 0;
    padding: 0.5rem 3px 0;
    width: 100%;
  }
  .top-bar-right ul.menu {
    background-color: #fff;
    border-bottom: 1px solid #f39c1d;
    height: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: -1px;
    transition: height 400ms ease-out;
    width: 100%;
  }
  body.menu-open .top-bar-right ul.menu {
    height: calc(100% + 1px);
    top: 0;
    z-index: 10;
  }
  .top-bar-right .menu li {
    border-bottom: 1px solid #f39c1d;
    display: block;
    text-align: center;
  }
  .top-bar-right .menu li a {
    height: 4rem;
    line-height: 2.6rem;
    margin: 0;
  }
}
@media screen and (min-width: 40em) {
  .gurbani-display {
    font-size: 1.6em;
  }
  /* ***** NAV BAR ***** */
  .top-bar-title a {
    background-image: url(/images/sttm_icon_beta.png);
    width: 54px;
  }
  .top-bar .top-bar-left,
  .top-bar .top-bar-right {
    width: auto;
  }
  .top-bar #search-container {
    max-width: 248px;
  }
  .top-bar #search-container {
    max-width: 288px;
  }
  #responsive-menu {
    float: left;
    width: calc(100% - 70px); /* Logo - 54px + 1rem(16px) margin */
  }
  #open_mobile_menu,
  .top-bar-right .menu .close {
    display: none;
  }
  .body_text h2 {
    font-size: 2.5em;
  }
  /* ***** SEARCH PAGE ***** */
  .search-form {
    max-width: 100%;
  }
  /* ***** SEARCH RESULTS ****** */
  .search-results {
    margin: 1rem 2rem 1rem 3rem;
  }
  .search-result,
  .load-more {
    padding: 1rem 1rem 1rem 0;
  }
  /* ***** SHABAD PAGE ***** */
  #controls-wrapper > div {
    padding: 0 2rem 0 3rem;
  }
  #metadata {
    margin: 1rem 2rem 1rem 3rem;
  }
  .shabad {
    margin: 0 2rem 0 3rem;
  }
}
@media screen and (min-width: 64em) {
  .top-bar #search-container {
    max-width: 444px;
  }
  .top-bar #search {
    max-width: 400px;
    width: 356px;
  }
  #search-options {
    width: 444px;
  }
}
