.react-calendar {
  font-size: 18px !important;
  padding: 8px;

  &__navigation {
    button {
      color: $sttm-blue;
    }
  }

  &__tile--active {
    abbr {
      border-bottom: 1px dotted $sttm-white;
      color: $sttm-white;
    }
  }
}

.react-date-picker {
  vertical-align: sub;

  &__inputGroup {
    display: none;
    outline: 0;
  }
  &__wrapper {
    border-width: 0 !important;
    &:focus {
      outline: 0 !important;
    }
  }
  &--enabled {
    border-width: 0 !important;
  }
}