.accordion {
  background: none;

  &__item {
    background-color: $sttm-white;
    border-radius: 15px;
    margin-bottom: 0.5em;
    padding: 0.2em 1em 0.2em 1.5em;
    width: 100%;

    .title {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;

      h3 {
        font-size: clamp(1.5rem, 2rem);
        margin: 0;
        text-align: left;
      }

      span {
        color: $sttm-blue;
        font-weight: 700;
      }
    }

    .content {
      display: none;
      padding-top: 1em;
    }

    &.is-active {
      .content {
        display: block;
      }
    }
  }
}
