.admin-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;

  > .admin-viewer {
    background-color: black;
    margin: 15px;
    min-height: 300px;
    width: 500px;
  }

  > .admin-controls {
    width: 500px;
  }
}

.control-section {
  > .slide-type {
    border: 1px solid black;
    display: inline-block;
    height: 100px;
    margin: 5px;
    width: 150px;

    > p {
      line-height: 100px;
      text-align: center;
    }
  }
}
