.autoScrollControl {
  position: fixed;
  bottom: 0;
  top: 100vh;
  transform: translateY(-100%);
  color: white;
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  padding: 8px;

  &Btn {
    margin-bottom: 8px;
  }
}