$twitter-blue: #00aced;
$facebook-blue: #3b5998;

$sttm-red: #dc4c42;
$sttm-green: #039e03;

$sttm-blue: #01669b;
$sttm-light-blue: #60c8ff;

$sttm-orange: #f39c1d;
$sttm-bright-orange: #f99d1c;

$sttm-lighter-black: #3c3c3c;
$sttm-light-black: #1d1d1d;
$sttm-black: #222;
$sttm-pure-black: #000;

$sttm-transparent-black:  rgba(0, 0, 0, 0.16);
$sttm-transparent-light-black: rgba(0, 0, 0, 0.08);
$sttm-transparent-dark-black: rgba(148, 148, 148, 0.08);

$sttm-pure-white: #fff;
$sttm-white: #fafafa;
$sttm-dark-white: #f5f5f5;
$sttm-transparent-white:rgba(255, 255, 255, 0.85);
$sttm-transparent-light-white:rgba(255, 255, 255, 0.95);

$sttm-light-grey: #cacaca;
$sttm-lighter-grey: #ddd;
$sttm-grey: #999;
$sttm-dark-grey: #797979;
$sttm-darker-grey: #868383;
