$twitter-blue: #00aced;
$facebook-blue: #3b5998;

$sttm-red: #dc4c42;
$sttm-light-red: #dc4c4220;
$sttm-green: #039e03;

$sttm-blue: rgb(1, 102, 155);
$sttm-blue-30: rgba(1, 102, 155, 0.3);
$sttm-light-blue: rgb(96, 200, 255);
$sttm-light-blue-60: rgba(96, 200, 255, 0.6);
$sttm-light-blue-30: rgba(96, 200, 255, 0.3);

$sttm-dark-blue: rgb(30, 60, 82);

$sttm-orange: #f39c1d;
$sttm-bright-orange: #f99d1c;

$sttm-lighter-black: #3c3c3c;
$sttm-light-black: #1d1d1d;
$sttm-black: #222;
$sttm-pure-black: #000;

$sttm-transparent-black:  rgba(0, 0, 0, 0.16);
$sttm-transparent-light-black: rgba(0, 0, 0, 0.08);
$sttm-transparent-dark-black: rgba(148, 148, 148, 0.08);

$sttm-pure-white: #fff;
$sttm-white: #fafafa;
$sttm-dark-white: #f5f5f5;
$sttm-transparent-white:rgba(255, 255, 255, 0.85);
$sttm-transparent-light-white:rgba(255, 255, 255, 0.95);

$sttm-light-grey: #cacaca;
$sttm-lighter-grey: #ddd;
$sttm-grey: #999;
$sttm-dark-grey: #797979;
$sttm-darker-grey: #868383;
$sttm-orange: #f39c1d;
$sttm-attention-background: rgba(255, 4, 4, 0.897);
