#controls-wrapper {
  align-items: center;
  background-color: $sttm-dark-white;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0.5rem 0 0 3rem;
  top: 0;
  transform-origin: top center;
  transition: transform 0.2s;
  z-index: 1;

  .dark-mode & {
    background-color: $sttm-light-black;
  }

  .fullscreen-view & {
    display: none;
  }

  &.with-border {
    box-shadow: 0 8px 6px -10px black;
    max-width: 75rem;
  }

  > div {
    margin-bottom: 0.5rem;
  }

  @media screen and (max-width: 46em) {
    padding-left: 1em;
  }
}

@keyframes flip-open {
  from {
    opacity: 0;
    transform: rotateX(-90deg) perspective(500px);
    transform-origin: top;
  }

  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

#shabad-controllers {
  width: 100%;
}

.quick-settings {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  overflow-y: visible;
  white-space: nowrap;

  .dark-mode & {
    background-image:
      linear-gradient(
        to right,
        $sttm-light-black,
        $sttm-light-black
      ),
      linear-gradient(to right, $sttm-light-black, $sttm-light-black),
      linear-gradient(to right, $sttm-black, $sttm-lighter-black),
      linear-gradient(to left, $sttm-black, $sttm-lighter-black);
  }
}

.custom-fa {
  background-color: $sttm-white;
  border: 1px solid $sttm-light-grey;
  border-radius: 2px;
  color: $sttm-dark-grey;
  display: inline-block;
  line-height: 32px;
  min-height: 32px;
  padding: 4px;

  &:hover {
    background-color: $sttm-lighter-grey;
  }

  .dark-mode & {
    background-color: $sttm-lighter-black;
    border-color: $sttm-light-black;
    color: $sttm-white;

    &:hover {
      background-color: $sttm-dark-grey;
    }
  }

  &.fontsize-icon {
    background-color: transparent;
    border: none;
    font-size: 24px;
    line-height: 1;

    &:hover {
      color: $sttm-orange;
    }

    &:active {
      background-color: $sttm-lighter-grey;
      color: $sttm-blue;

      .dark-mode & {
        background-color: $sttm-lighter-black;
      }
    }
  }

  > svg {
    fill: $sttm-dark-grey;
    vertical-align: middle;

    .dark-mode & {
      fill: $sttm-white;
    }
  }

  &.gear-icon {
    border: none;
    border-radius: 0;
    height: 100%;
    line-height: 46px;
  }

  &.enabled {
    background-color: $sttm-blue;
    border-color: $sttm-blue;
    color: $sttm-white;

    > svg {
      fill: $sttm-white;
    }
  }
}

.custom-fa-assist {
  &::after {
    color: $sttm-orange;
    content: 'à¨…';
  }
}

.controller-option {
  cursor: pointer;
  height: 100%;
  margin-right: 10px;
  min-height: 42px;
  text-align: center;
  transition: 0.2s all ease;

  span {
    transition: 0.2s all ease;
  }

  &.separator {
    background-color: $sttm-grey;
    width: 1px;
  }

  &.multiselect_checkbox {
    background-color: $sttm-white;
    border: 1px solid $sttm-light-grey;
    border-radius: 2px;
    height: 42px;
    position: relative;

    .dark-mode & {
      background-color: $sttm-lighter-black;
      border-color: $sttm-light-black;
      color: $sttm-white;
    }

    > span {
      display: inline-block;
      height: 100%;
      line-height: 42px;
      margin-bottom: 0;
      padding: 0 1rem;

      svg {
        fill: $sttm-dark-grey;

        .dark-mode > & {
          fill: $sttm-light-grey;
        }
      }
    }

    .list-wrapper {
      background-color: $sttm-white;
      border-radius: 2px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      height: 180px;
      justify-content: space-around;
      overflow: hidden;
      position: absolute;
      transition: 0.1s all linear;
      width: 320px;
      z-index: 1;

      &.collapsed {
        height: 0;
        opacity: 0;
      }

      .dark-mode & {
        background-color: $sttm-lighter-black;
        color: $sttm-white;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      opacity: 1;
      padding: 8px 0;
      visibility: visible;

      p {
        margin-bottom: 0;
      }

      li {
        align-items: center;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        text-transform: capitalize;

        input[type="checkbox"] {
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          visibility: hidden;
        }

        .fake-checkbox {
          background-size: 12px;
          border: 1px solid $sttm-blue;
          height: 16px;
          margin-right: 8px;
          width: 16px;

          .dark-mode & {
            border-color: $sttm-orange;
          }
        }

        input[type="checkbox"]:checked + .fake-checkbox {
          background-color: $sttm-blue;
          background-image: url('/assets/images/tick.svg');
          background-position: center;
          background-repeat: no-repeat;

          .dark-mode & {
            background-color: $sttm-orange;
          }
        }

        label {
          cursor: pointer;
          font-size: 16px;

          .dark-mode & {
            color: $sttm-white;
          }
        }
      }
    }
  }

  &.toggle-option {
    input[type='checkbox'] {
      margin-bottom: 4px;
    }

    .toggle-label {
      height: 25px;
      margin-right: 8px;
      margin-top: 10px;
      width: 50px;
    }
  }

  .toggle-text {
    color: $sttm-blue;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;

    .advanced-options & {
      color: $sttm-black;
    }

    .dark-mode & {
      color: $sttm-orange;
    }
  }

  &.text-option {
    border-radius: 8px;
    color: $sttm-blue;
    font-size: 16px;
    line-height: 42px;
    padding: 0 6px;

    &:hover {
      color: $sttm-orange;
    }

    .dark-mode & {
      color: $sttm-orange;

      &:hover {
        color: $sttm-lighter-grey;
      }

      &:active {
        background-color: $sttm-lighter-grey;

        .dark-mode & {
          background-color: $sttm-lighter-black;
        }
      }
    }
  }

  &.dropdown {
    select {
      margin-bottom: 0;
    }

    .toggle-text {
      color: $sttm-black;
      text-align: left;

      .dark-mode & {
        color: $sttm-white;
      }
    }
  }

  &.icon-text-toggle {
    align-items: center;
    border-radius: 8px;
    color: $sttm-blue;
    display: flex;
    font-size: 16px;
    justify-content: center;
    line-height: 42px;
    min-height: 42px;
    overflow: hidden;

    &:hover {
      color: $sttm-orange;
    }

    span {
      padding: 0 6px;

      &.custom-fa {
        display: none;
      }

      .dark-mode & {
        color: $sttm-orange;

        &:hover {
          color: $sttm-light-grey;
        }
      }

      &.icon-label:active {
        background-color: $sttm-lighter-grey;

        .dark-mode & {
          background-color: $sttm-lighter-black;
        }
      }
    }
  }
}

.advanced-options {
  align-items: flex-start;
  animation: flip-open 0.25s;
  background-color: $sttm-lighter-grey;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto 0.5rem 0;
  padding: 1rem;
  width: calc(100% - 2rem);

  .controller-option {
    margin: 10px;
  }

  .dark-mode & {
    background-color: $sttm-lighter-black;
  }

  .qs-option {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .quick-settings > .controller-option {
    &:nth-last-child(3),
    &:nth-last-child(4),
    &:nth-last-child(5) {
      display: none;
    }
  }

  .advanced-options {
    .qs-option {
      &:nth-last-of-type(3),
      &:nth-last-of-type(4),
      &:nth-last-of-type(5) {
        display: block;
        order: -1;

        &.separator {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .quick-settings > .controller-option {
    &:nth-last-child(6),
    &:nth-last-child(7),
    &:nth-last-child(8) {
      display: none;
      order: -1;
    }
  }

  .advanced-options {
    .qs-option {
      &:nth-last-of-type(6),
      &:nth-last-of-type(7),
      &:nth-last-of-type(8) {
        display: block;
        order: -1;

        &.separator {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .quick-settings > .controller-option {
    &:nth-last-child(9) {
      display: none;
    }
  }

  .advanced-options {
    .qs-option {
      &:nth-last-of-type(9) {
        display: block;
        order: -1;

        &.separator {
          display: none;
        }
      }
    }

    .dropdown {
      width: 80%;
    }
  }
}

@media screen and (max-width: 490px) {
  .quick-settings > .controller-option {
    &:nth-last-child(2),
    &:nth-last-child(10) {
      display: none;
    }
  }

  .advanced-options {
    .qs-option {
      &:nth-last-of-type(2) {
        display: block;
        line-height: 64px;
        order: -1;
      }
    }
  }

  .controller-option.icon-text-toggle {
    span.custom-fa {
      display: block;
      padding: 0 5px;
    }

    .icon-label {
      display: none;
    }
  }
}

/* Remove Microsoft Edge X icon from search bar */
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
