#controls-wrapper {
  background-color: #f5f5f5;
  margin: 0;
  padding-top: 0.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: calc(-16px - 2em);
  z-index: 99;

  > div {
    margin-bottom: 0.5rem;
    padding: 0 1rem;
  }
}

@media screen and (min-width: 46em) {
  #controls-wrapper {
    top: 0;

    > div {
      padding: 0 2rem 0 3rem;
    }
  }
}

#shabad-controllers {
  overflow-x: auto;
  white-space: nowrap;
}

.shabad-controller-toggle,
.display-option-toggle {
  border: 1px solid #cacaca;
  border-radius: 2px;
  color: #3c3c3c;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.4;
  margin-right: 5px;
  padding: 4px 10px;
  transition: all 0.25s;
  vertical-align: baseline;

  &:hover {
    border-color: #01669b;
    color: #01669b;
  }

  &.active,
  &.active:hover {
    background-color: #01669b;
    border-color: #01669b;
    color: white;
  }

  i {
    margin-right: 4px;
  }
}

/* Hide Larivaar Assist if Larivaar is not checked */
#larivaar-toggle:not(.active) + a {
  display: none;
}

.display-option-type {
  margin-bottom: 1rem;
}
