#error-code {
  color: #01669b;
  font-family: cursive, sans-serif;
  font-size: 7rem;
  font-weight: bold;

  @media screen and (max-width: 500px) {
    text-align: center;
  }
}

#error-msg {
  color: #f39c1d;
  font-weight: bold;
}

#error-desc {
  margin-top: 3rem;
}
