#error-code {
  color: $sttm-blue;
  font-family: cursive, sans-serif;
  font-size: 7rem;
  font-weight: bold;

  .dark-mode & {
    color: $sttm-light-blue;
  }

  @media screen and (max-width: 500px) {
    text-align: center;
  }
}

#error-msg {
  color: $sttm-orange;
  font-weight: bold;
}

#error-desc {
  margin-top: 3rem;
}

#error-link {
  color: #2199e8;
}
