.favourite-shabads {
  &--row {
    display: flex;
  }

  &-list {
    margin: 0;
    padding: 0;

    .favourite-shabads-no-select,
    .favourite-shabads-loading {
      text-align: center;
    }
  }

  &-heading {
    border-bottom: 1px solid $sttm-darkest-grey;
    font-size: 2rem;
    margin-left: 7.5rem;
    margin-right: 3rem;
    padding: 1rem;
    padding-left: 0;

    @media screen and (max-width: 69.9em) {
      margin-left: 1.5rem;
      margin-right: 0;
    }
  }
}
