.favourite-shabads {

  &--row {
    display: flex;
  }
  &-list {
    padding: 0;
    margin: 0;  
  }
  &-heading {
    padding: 1rem;
    padding-left: 0;
    margin-left: 1.5rem;
    font-size: 2rem;
    border-bottom: 1px solid $sttm-darkest-grey;
  }

}


