.favourite-shabads {

  &--row {
    display: flex;
  }
  &-list {
    padding: 0;
    margin: 0;
      
      .favourite-shabads-no-select,
      .favourite-shabads-loading {
        text-align: center;
    }  
  }
  &-heading {
    padding: 1rem;
    padding-left: 0;
    margin-left: 7.5rem;
    margin-right: 3rem;
    font-size: 2rem;
    border-bottom: 1px solid $sttm-darkest-grey;
    
      @media screen and (max-width: 69.9em) {
        margin-left: 1.5rem;
        margin-right: 0;
      }

  }

}


