.floatingActions {
  align-items: center;
  background-color: $sttm-blue;
  border-radius: 40px;
  bottom: 100px;
  display: flex;
  height: 60px;
  left: calc(100vw - 450px);
  max-width: 440px;
  padding: 8px 16px;
  position: fixed;
  width: auto;
  z-index: 1;

  &Control {
    margin-left: 16px;
  }

  &Icons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: -8px;
  }
}
