@font-face {
  font-display: block;
  font-family: gurmukhi_heavy;
  src: url('/assets/fonts/GurbaniAkharHeavyTrue.ttf?v=1');
}

@font-face {
  font-display: block;
  font-family: anmol_lipi;
  src: url('/assets/fonts/AnmolLipiSG.ttf?v=1');
}

@font-face {
  font-display: block;
  font-family: gurmukhi_thick;
  src: url('/assets/fonts/GurbaniAkharThickTrue.ttf?v=1');
}

@font-face {
  font-display: block;
  font-family: gurmukhi_normal;
  src: url('/assets/fonts/GurbaniAkharTrue.ttf?v=1');
}
