@font-face {
  font-family: gurmukhi_heavy;
  src: url('/assets/fonts/GurbaniAkharHeavyTrue.ttf?v=1');
  font-display: block;
}

@font-face {
  font-family: anmol_lipi;
  src: url('/assets/fonts/AnmolLipiSG.ttf?v=1');
  font-display: block;
}
