footer {
  background-color: $sttm-white;
  border-top: 1px solid $sttm-lighter-grey;
  bottom: 0;
  font-family: 'Lato', sans-serif;
  left: 0;
  min-height: 50px;
  position: fixed;
  width: 100%;
  z-index: 2;

  .dark-mode & {
    background-color: $sttm-light-black;
    border-top: 1px solid $sttm-lighter-black;
  }

  .fullscreen-view & {
    display: none;
  }

  @media screen and (max-width: 950px) {
    position: fixed;
  }

  .footer {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .version {
      list-style: none;
      margin: 0;
      margin-right: 15px;
    }

    .copyright {
      font-size: 0.75rem;
      padding: 5px;
    }

    .menu {
      align-content: flex-start;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .menu,
    .version {
      li a {
        color: $sttm-lighter-black;
        font-size: 0.9em;
        margin: 0;
        padding: 1rem;
        transition: 0.2s;

        &:hover {
          background-color: $sttm-lighter-grey;
        }

        .dark-mode & {
          color: $sttm-white;

          &:hover {
            background-color: $sttm-lighter-black;
          }
        }
      }
    }

    .footer-seperator {
      color: $sttm-darkest-grey;
      display: block;
      font-size: 0.9em;
      line-height: 1;
      margin: 0;
      padding: 1rem 2rem 1rem 1rem;
    }

    .download-icon {
      opacity: 0.7;
      padding: 12px 0 9px 0 !important;
      transition: 0.2s;

      &:hover {
        background: none !important;
        opacity: 0.9;
      }

      img {
        margin-right: 0.5rem;
        width: 95px;
      }
    }

    @media screen and (max-width: 1300px) {
      .menu {
        font-size: 0.7em;

        & li a,
        .footer-seperator {
          padding: 2em 0.5em;
        }
      }
    }

    @media screen and (max-width: 950px) {
      align-items: flex-start;
      flex-direction: column;

      .version {
        display: none;
      }

      .copyright {
        padding: 5px 0;
        text-align: center;
        width: 100%;
      }

      .download-icon,
      .footer-seperator {
        display: none;
      }

      .menu {
        justify-content: center;

        li a,
        li span {
          padding: 10px 5px;
        }
      }
    }

    @media screen and (max-width: 480px) {
      align-items: center;

      .version {
        display: none;
      }

      .copyright {
        padding: 5px 2px;

        span,
        .footer-seperator {
          display: none;
        }

        .menu li a,
        .menu li span {
          font-size: 0.8rem;
          padding: 5px 2px;
        }
      }
    }
  }
}

.pin-settings-footer {
  @media screen and (max-width: 1200px) {
    .footer {
      display: block;
    }

    .version {
      display: none;
    }

    .copyright {
      padding: 5px 0;
      text-align: center;
      width: 100%;
    }

    .menu {
      justify-content: center;

      li a,
      li span {
        padding: 10px 5px;
      }
    }
  }

  @media screen and (max-width: 1500px) {
    .menu {
      font-size: 0.7em;

      & li a,
      .footer-seperator {
        padding: 2em 0.5em;
      }
    }
  }
}
