.baniIndex {
  details {
    cursor: pointer;

    .heading {
      &:focus {
        outline: auto;
      }
    }
  }

  a {
    display: block;
  }
}

.amritKeertanIndex {
  &Row {
    details {
      cursor: pointer;
    }

    summary {
      font-size: 1.2em;
      padding: 8px;

      &:hover {
        color: $sttm-orange;
      }
    }

    &.loading {
      display: flex;
      position: relative;
    }

    &.loadingShabads {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
    }

    &Shabads {
      margin: 0;
      margin-bottom: 16px;
      padding: 0;
    }

    &Shabad {
      list-style: none;
      padding-left: 24px;

      & a {
        border-color: $sttm-orange;
        border-style: solid;
        border-width: 0 0 0 3px;
        padding-left: 5px;
      }

      :hover {
        color: $sttm-orange;
      }
    }
  }
}

.GranthRows {
  & a {
    color: $sttm-dark-orange !important;

    &:hover {
      color: $sttm-orange !important;
    }
  }

  &-Heading {
    background-color: $sttm-dark-blue;
    color: $sttm-white;
  }
}
