/* TODO: Fix no-descending-specificity issues */
/* stylelint-disable no-descending-specificity */
.top-bar {
  border-bottom: 1px solid $sttm-lighter-grey;
  padding-bottom: 14px;
  position: relative;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 78rem;
  }

  &,
  ul {
    background-color: $sttm-white;

    .dark-mode & {
      background-color: $sttm-light-black;
    }
  }

  &-naked {
    &,
    ul {
      background-color: transparent;
      border: none;
    }

    .top-bar-title {
      margin: 0;
      visibility: hidden;
    }
  }

  .dark-mode & {
    border-color: $sttm-dark-grey;
  }
}

.top-bar-title a {
  background-image: url(/assets/images/sttm_logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 54px;
  width: 100%;
}

.top-bar-logo-small {
  width: 3em;
}

#search-options {
  clear: both;
  margin-left: 70px;
  padding: 0.5rem 0 0;
  width: 288px;

  select {
    display: inline-block;
    margin: 0;
    width: calc(50% - 0.5rem);

    &:nth-child(1) {
      margin-right: 1rem;
    }
  }
}

.hide-search-bar {
  .top-bar-left,
  #search-options {
    display: none;
  }
}

.top-bar-right .menu > li {
  display: inline-block;
  font-weight: 400;

  a,
  span {
    align-items: center;
    color: $sttm-lighter-black;
    display: flex;
    font-size: 0.9em;
    justify-content: center;
    margin: 0;
    padding: 14px;

    &:hover {
      background-color: $sttm-lighter-grey;
    }

    .dark-mode & {
      color: $sttm-dark-white;

      &:hover {
        background-color: $sttm-lighter-black;
      }
    }
  }
}

#search-container {
  background-color: $sttm-pure-white;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 $sttm-transparent-black,
    0 0 0 1px $sttm-transparent-light-black;
  height: 44px;
  margin: 0;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);

  .dark-mode & {
    background-color: $sttm-lighter-black;
    box-shadow: 0 2px 2px 0 $sttm-black, 0 0 0 1px $sttm-black;
  }

  > button {
    color: $sttm-pure-white;
    display: inline-block;
    float: left;
    height: 44px;
    padding: 0.5rem;
    width: 44px;
  }

  button[type='submit'] {
    background-color: $sttm-blue;

    .dark-mode & {
      background-color: $sttm-blue;
    }
  }

  .gurmukhi-keyboard-toggle,
  .clear-search-toggle {
    background-color: $sttm-pure-white;
    width: 44px;

    svg {
      fill: $sttm-grey;
    }

    .dark-mode & {
      background-color: $sttm-lighter-black;
    }

    &.active svg {
      fill: $sttm-orange;
    }

    &:active svg,
    &:hover svg {
      fill: $sttm-orange;
      outline: none;
    }
  }

  .clear-search-toggle {
    width: 22px;
  }
}

#search {
  background: transparent;
  border: none;
  box-shadow: none;
  display: inline-block;
  float: left;
  font-size: 1.2em;
  font-weight: 300;
  height: 44px;
  margin: 0;
  position: relative;
  width: calc(100% - 110px);

  &[value=''] + .clear-search-toggle {
    pointer-events: none;
    visibility: hidden;
  }

  .dark-mode & {
    color: $sttm-dark-white;

    &::placeholder {
      color: $sttm-dark-grey;
    }
  }
}

.gurmukhi-keyboard {
  background-color: $sttm-pure-white;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 $sttm-transparent-black,
    0 0 0 1px $sttm-transparent-light-black;
  font-size: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  top: 0;
  transform: rotateX(-90deg) perspective(500px);
  transform-origin: top;
  transition: all 0.25s;
  width: 100%;
  z-index: 2;

  .dark-mode & {
    background-color: $sttm-light-black;
  }

  &.active {
    opacity: 1;
    pointer-events: auto;
    transform: rotateX(0deg);
  }

  .keyboard-row {
    border-bottom: 2px solid $sttm-grey;
  }

  .keyboard-row-set {
    display: inline-block;
    width: 50%;
  }

  .keyboard-row:nth-child(2n-1) .keyboard-row-set:nth-child(1),
  .keyboard-row:nth-child(2n) .keyboard-row-set:nth-child(2) {
    background-color: $sttm-lighter-grey;

    .dark-mode & {
      background-color: $sttm-lighter-black;
    }
  }

  button {
    color: $sttm-black;
    font-size: 1rem;
    line-height: 2;
    outline: none;
    position: relative;
    text-align: center;
    width: 20%;

    .dark-mode & {
      color: $sttm-grey;
    }

    &.active {
      color: $sttm-orange;
    }

    .dark-mode &[data-action='bksp'] {
      fill: $sttm-grey;
    }

    &[data-action='page-1'] {
      padding-right: 5px;
      text-align: right;

      &::after {
        color: $sttm-pure-black;
        content: '|';
        font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
        font-size: 0.8rem;
        position: absolute;
        right: -1px;
        top: 2px;
      }
    }

    &[data-action='page-2'] {
      padding-left: 4px;
      text-align: left;
    }
  }
}

#open-mobile-menu {
  background-color: transparent;
  border-radius: 2px;
  font-size: 1rem;
  height: 48px;
  line-height: 18px;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 48px;
  z-index: 4;

  svg {
    fill: $sttm-blue;
  }
}

.open-search-options #search-options {
  max-height: 50px;
}

#responsive-menu {
  width: 100%;
}

@media screen and (max-width: 55.99em) {
  .top-bar-title {
    float: none;
    margin: 50px 0 0;
    text-align: center;
    width: 100%;
  }

  .top-bar-left .menu li {
    display: block;
  }

  .search-form {
    max-width: 100vw;
    padding: 0 8px;
  }

  .top-bar #search-container {
    width: 100%;
  }

  .top-bar #search {
    max-width: none;
  }

  #search-options {
    margin: 0;
    padding: 0.5rem 8px 0;
    width: 100%;
  }

  .top-bar-right ul.menu {
    background-color: $sttm-pure-white;
    border-bottom: 1px solid $sttm-blue;
    height: 0;
    right: 0;
    overflow: hidden;
    position: fixed;
    top: -1px;
    transition: height 400ms ease-out;
    width: 100%;

    .dark-mode & {
      background-color: $sttm-light-black;
      border-color: $sttm-light-blue;
    }
  }

  body.menu-open .top-bar-right ul.menu {
    height: calc(100% + 1px);
    top: 0;
    z-index: 3;
  }

  .top-bar-right {
    .menu li {
      border-bottom: 1px solid $sttm-blue;
      display: block;
      text-align: center;

      .dark-mode & {
        border-color: $sttm-light-blue;
      }

      a,
      span {
        cursor: pointer;
        display: block;
        height: 4rem;
        line-height: 2.6rem;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 40em) {
  .top-bar .top-bar-left,
  .top-bar .top-bar-right {
    width: 100%;
  }
}

// Not Mobile
@media screen and (min-width: 56em) {
  .top-bar-title a {
    background-image: url(/assets/images/sttm_icon.png);
    width: 54px;
  }

  .search-form {
    max-width: 100%;
  }

  .top-bar .top-bar-left,
  .top-bar .top-bar-right {
    width: auto;
  }

  .top-bar #search-container {
    max-width: 288px;
  }

  #responsive-menu {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    width: calc(100% - 70px);

    > .top-bar-right {
      min-width: 470px;
      text-align: right;
    }
  }

  #open-mobile-menu,
  .top-bar-right .menu .close {
    display: none;
  }
}

@media screen and (min-width: 56em) {
  .top-bar #search-container {
    max-width: 444px;
  }

  .top-bar #search {
    max-width: 400px;
  }

  #search-options {
    width: 444px;
  }
}
