#help {
  display: block;
  width: 100%;

  h2 {
    margin-top: 10px;
  }

  .question {
    margin: 10px 0 20px;

    ul li {
      list-style: none;

      &::before {
        color: $sttm-bright-orange;
        content: '\25A0';
        display: block;
        left: -1em;
        max-height: 0;
        max-width: 0;
        position: relative;
        top: -0.1em;
      }
    }

    img {
      display: block;
      margin: 10px auto 20px;
      max-width: 80%;
    }
  }

  #sidebar {
    border: 1px solid $sttm-light-grey;
    border-radius: 2px;
    font-size: 0.9em;
    padding: 1rem;
    width: 100%;

    ul {
      color: $sttm-blue;
      list-style-type: none;

      ul {
        color: $sttm-bright-orange;
      }

      li {
        cursor: pointer;
        font-size: 1.2em;
        font-weight: bold;

        & li {
          font-size: 0.9em;
          font-weight: normal;
        }

        &:hover {
          color: $sttm-orange;
          transition: 0.2s;
        }
      }

      a {
        color: $sttm-blue;

        &:hover {
          color: $sttm-orange;
          transition: 0.2s;
        }
      }

      .dark-mode & {
        color: $sttm-light-blue;
      }
    }
  }

  main {
    padding: 1rem;
    width: 100%;
  }

  section {
    margin-bottom: 45px;
  }

  .settings-items {
    section {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 46em) {
  #help {
    display: block;
    width: 100%;

    #sidebar {
      width: 100%;
    }

    .video {
      width: 70%;
    }

    main {
      padding: 0;
    }
  }
}
