/* Global Helper Classes */
.gurbani-font {
  font-family: gurmukhi_heavy !important;
}

#search.gurbani-font {
  font-family: anmol_lipi !important;
}

.gurbani-display {
  font-size: 1.4em;
}

@media screen and (min-width: 46em) {
  .gurbani-display {
    font-size: 1.6em;
  }
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  not supported by any browser */
}

.button {
  margin: 0;
}

.show-on-mobile {
  display: none !important;
}

@media screen and (max-width: 45.999999em) {
  .show-on-mobile {
    display: inline !important;
  }
}

/* Flex Helper Classes */
.flex {
  display: flex;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-start {
  justify-content: flex-start;
}

.flex.flex-end {
  justify-content: flex-end;
}

.flex.align-center {
  align-items: center;
}

.flex.align-start {
  align-items: flex-start;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.space-around {
  justify-content: space-around;
}

.flex.space-between {
  justify-content: space-between;
}

/* input range */
input[type=range] {
  -webkit-appearance: none;
  margin: 14px 0;

  &:focus {
    outline: none;

    &::-webkit-slider-runnable-track {
      background: #367ebd;
    }

    &::-ms-fill-lower {
      background: #3071a9;
    }

    &::-ms-fill-upper {
      background: #367ebd;
    }
  }

  &::-webkit-slider-runnable-track {
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  &::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }

  &::-moz-range-track {
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  &::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }

  &::-ms-track {
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }

  &::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }

  &::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 26px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }

}

@-moz-document url-prefix() {
  input[type=range] {
    margin: 0;
  }
}
