#help {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  h2 {
    margin-top: 10px;
  }

  .question {
    margin: 10px 0 20px;

    ul li {
      list-style: none;

      &::before {
        color: $sttm-bright-orange;
        content: '\25A0';
        display: block;
        left: -1em;
        max-height: 0;
        max-width: 0;
        position: relative;
        top: -0.1em;
      }
    }

    img {
      display: block;
      margin: 10px auto 20px;
      max-width: 80%;
    }
  }

  #sidebar {
    border: 1px solid $sttm-light-grey;
    border-radius: 2px;
    font-size: 0.9em;
    margin: 1rem;
    padding: 1rem;
    width: 100%;

    ul {
      color: $sttm-blue;
      list-style-type: none;

      ul {
        color: $sttm-bright-orange;
      }

      li {
        cursor: pointer;
      }

      .dark-mode & {
        color: $sttm-light-blue;
      }
    }
  }

  main {
    padding: 1rem;
    width: 100%;
  }

  section {
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 46em) {
  #help {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    #sidebar {
      width: 23%;
    }

    .video {
      width: 70%;
    }

    main {
      padding: 0;
      width: 77%;
    }
  }
}
