.mahankosh {
  &SelectedGurbaniWord {
    border: 1px dotted transparent;
    border-bottom-color: currentColor;
    cursor: help;
  }
}

.mahankoshTooltip {
  align-items: space-between;
  display: flex;
  justify-content: center;
  padding: 8px;

  &Word {
    padding: 8px;
  }

  &GurbaniWord {
    display: inline-block;
    margin-bottom: 16px;
  }

  &Source {
    align-self: flex-end;
    font-family: Muli, sans-serif;
    font-size: 12px;
  }
}
