.mahankosh {
  &SelectedGurbaniWord {
    cursor: help;
  }
}

.mahankoshTooltip {
  align-items: space-between;
  display: flex;
  justify-content: center;
  padding: 8px;

  &Word {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-bottom: 32px;
  }

  &GurbaniWord {
    display: inline-block;
    margin-bottom: 16px;
  }

  &Source {
    flex-shrink: 0;
    align-self: flex-end;
    font-family: Muli, sans-serif;
    font-size: 12px;
  }

  &Wrapper {
    max-width: 800px;
  }
}
