/* stylelint-disable at-rule-no-unknown */

@mixin load_fonts($name, $fontfile) {
  @font-face {
    font-display: block;
    font-family: $name;
    src: url('/assets/fonts/'+$fontfile+'?v=1');
  }
}

@mixin filled_checkbox($bg_color) {
  background-color: $bg_color;
}

@mixin flex_center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin select_highlight() {
  select {
    &.selected {
      background-color: lighten($sttm-orange, 30%);
      color: $sttm-darkest-grey;
    }
  }
}

@mixin share_buttons_svg() {
  fill: $sttm-darker-grey;
  font-size: 2em;
  padding: 5px;

  @media screen and (max-width: 45.999999em) {
    font-size: 2em !important;
  }
}
