.multiple-shabads-display {
  background: $sttm-dark-grey;
  box-shadow: 0 0 12px -4px $sttm-black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  padding: 0 1em;
  position: absolute;
  top: 0;
  transform: translate3d(-100%, 0, 0);
  transform-origin: top left;
  transition: 0.5s all ease-in-out;
  visibility: hidden;
  width: 25vw;
  z-index: 97;

  @media screen and (max-width: 55.99em) {
    width: 100vw;
  }

  &.enable {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  button {
    &.close {
      color: $sttm-white;
      position: absolute;
      right: 10px;
      top: 10px;

      &:hover {
        color: $sttm-orange;
      }
    }
  }

  &--footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;

    button {
      margin-left: 0.5em;
    }
  }

  h3 {
    color: $sttm-white;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      margin-bottom: 0.5em;

      svg {
        cursor: move;
      }

      div {
        background-color: $sttm-white;
        border-radius: 15px;
        color: $sttm-blue;
        flex: 1;
        margin: 0 0.8em;
        padding: 0 0.8em;
      }

      button {
        background-color: $sttm-red;
        border-radius: 50%;
        color: $sttm-white;
        height: 1.5em;
        width: 1.5em;
      }
    }
  }
}
