.display {
  .gurbani-display div {
    margin-bottom: -0.25rem;
  }

  .highlight {
    color: #01669b;
  }

  .transliteration {
    text-transform: capitalize;
  }

  .gurlipi i,
  .unicode i {
    font-style: normal;
  }

  .akhar {
    display: inline-block;
    transition: all 0.25s;
  }

  &.split-view {
    .split-view-baani {
      display: block;

      .split-view-baani-wrapper {
        margin-top: 1em;
      }
    }
  }

  &.translation-english .translation.english,
  &.translation-punjabi .translation.punjabi,
  &.translation-spanish .translation.spanish,
  &.transliteration-english .transliteration.english {
    display: block;
  }

  &.larivaar .akhar {
    padding-right: 0;
  }

  &.larivaar.larivaar_assist {
    .gurlipi .akhar:nth-of-type(2n),
    .unicode .akhar:nth-of-type(2n) {
      color: #f39c1d;
    }
  }
}

.padChedDiv {
  display: inline-block;
  white-space: pre;
}
