.display {
  .gurbani-display div {
    font-size: 0.9em;
    margin-bottom: -0.25rem;

    &.larivaar {
      word-break: break-all;
    }
  }

  .highlight {
    border-left: 5px solid $sttm-blue;
    margin: 5px 0;
    padding-left: 10px;

    .dark-mode & {
      border-color: $sttm-orange;
      color: inherit;
    }
  }

  .gurlipi i,
  .unicode i {
    font-style: normal;
  }

  .akhar {
    display: inline-block;
    transition: all 0.25s;
  }

  &.split-view {
    .split-view-baani {
      display: block;

      .line {
        margin-bottom: auto;
      }

      .split-view-baani-wrapper {
        margin-top: 1em;
      }
    }
  }

  &.translation-english .translation.english,
  &.translation-punjabi .translation.punjabi,
  &.translation-spanish .translation.spanish,
  &.transliteration-english .transliteration.english {
    display: block;
  }

  &.larivaar .akhar {
    padding-right: 0;
  }

  &.larivaar.larivaar_assist {
    .gurlipi .akhar:nth-of-type(2n),
    .unicode .akhar:nth-of-type(2n) {
      color: $sttm-orange;
    }
  }
}

.padChedDiv {
  display: inline-block;
  white-space: pre;
}
