.larivaar-assist-word {
  color: #f39c1d;
}

.visraam-word {
  color: #ef3d14;
}

.search-results {
  margin: 0.5rem 0;
}

.search-result {
  border-bottom: 1px solid $sttm-lighter-grey;
  list-style: none;
  padding: 0.5rem 1rem;

  .dark-mode & {
    border-color: $sttm-dark-grey;
  }

  a {
    color: $sttm-blue-30;
    text-decoration: none;
    transition: font-size 0.25s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    .search-highlight-word {
      color: $sttm-blue;

      .dark-mode & {
        color: $sttm-light-blue;
      }
    }

    .larivaar-assist-word {
      color: #f39c1d;
    }

    .visraam-word {
      color: #ef3d14;
    }

    .dark-mode & {
      color: $sttm-light-blue-60;
    }
  }

  p {
    margin-bottom: 0;
  }

  .url {
    color: green;
    display: block;
    word-wrap: break-word;
  }

  .meta a {
    color: grey;
    padding-right: 5px;
  }
}

.larivaar:hover {
  > .larivaar-word {
    color: #f39c1d;
  }
}

.load-more {
  border-bottom: 1px solid $sttm-lighter-grey;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0.5rem 1rem;
  text-align: center;

  &:empty {
    display: none;
  }

  .dark-mode & {
    border-color: $sttm-dark-grey;
  }
}

@media screen and (min-width: 46em) {
  .search-results {
    margin: 1rem 2rem 1rem 3rem;
  }

  .search-result,
  .load-more {
    padding: 1rem 1rem 1rem 0;
  }
}
