.search-page {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

/*
.search-form {
  max-width: calc(320px - 2rem);
}
*/

.logo-long {
  margin: 1rem 0;
  max-height: 125px;
}

.search-options {
  display: flex;
  justify-content: space-between;
  margin: 1rem -5px 0 -5px;

  .search-option {
    margin: 5px;
    width: calc(50% - 10px);
  }
}

@media screen and (min-width: 46em) {
  .search-form {
    max-width: 100%;
  }
}

.search-highlight-word {
  color: $sttm-green;
}

.searchPagination {
  display: flex;
  margin: 10px -5px;

  @media screen and (max-width: 46em) {
    margin: 10px;
  }

  &Item {
    border: 1px solid $sttm-dark-grey;
    color: $sttm-dark-grey;
    cursor: pointer;
    margin: 5px;
    padding: 10px;

    &:hover {
      background-color: $sttm-blue;
      border-color: transparent;
      color: $sttm-white;
    }

    &Active {
      background-color: $sttm-blue;
      border-color: transparent;
      color: $sttm-white;
    }
  }
}
