.search-page {
  display: flex;
  justify-content: center;
  padding-top: 5vh;

  .search-form {
    max-width: 625px;
  }

  &.doodle-logo-page {
    padding-top: 6vh;
  }
}

.doodle-credit {
  color: $sttm-dark-grey;
  font-size: 14px;
  margin-top: 16px;
  text-align: center;
}

/*
.search-form {
  max-width: calc(320px - 2rem);
}
*/

.logo-long {
  margin: 1rem 0;
  max-height: 125px;
}

.search-options {
  display: flex;
  justify-content: space-between;
  margin: 1rem -5px;

  .search-option {
    margin: 5px;
    width: calc(50% - 10px);

    select {
      margin-bottom: 0;
    }
  }
}

.searchPagination {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -5px;

  @media screen and (max-width: 46em) {
    margin: 10px;
  }

  &Wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &Button {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
  }

  &Item {
    align-items: center;
    border: 1px solid $sttm-light-grey;
    border-radius: 2px;
    color: $sttm-lighter-black;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    width: 50px;

    .dark-mode & {
      border-color: $sttm-dark-grey;
      color: $sttm-dark-grey;
    }

    &:hover {
      background-color: $sttm-blue;
      border-color: transparent;
      color: $sttm-white;
    }

    &Active {
      background-color: $sttm-blue;
      border-color: transparent;
      color: $sttm-white;

      .dark-mode & {
        border-color: transparent;
        color: $sttm-white;
      }
    }
  }
}
