blockquote {
  border: none;
  margin: 0 0 0.1rem;
  padding: 0 1.25rem 0 0;
}

.search-results blockquote {
  font-size: 0.85em;
  margin: 0 auto;
}

#metadata {
  align-items: center;
  border: 1px solid #cacaca;
  border-radius: 2px;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: calc(100% - 2rem);
}

.shabad-nav {
  a {
    color: #f39c1d;
    font-size: 50px;
    font-weight: 500;
    position: relative;

    &:hover {
      color: #797979;
    }
  }

  &.right {
    margin-left: 10px;
    text-align: right;
  }

  &.left {
    margin-right: 10px;
  }
}

.meta {
  flex-grow: 1;
}

.pagination {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0 0.5em;
  width: 100%;

  .shabad-nav {
    flex-grow: 1;

    a {
      align-items: center;
      display: flex;

      &:hover {
        background-color: initial;
      }

      i {
        flex-grow: 1;
      }
    }

    span {
      display: none;
      flex-grow: 1;
      font-size: 0.35em;
    }

    &.left span {
      margin-left: 10px;
    }

    &.right span {
      margin-right: 10px;
    }
  }
}

.shabad {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 1rem;
  width: 100%;
}

.shabad-container {
  width: 100%;
}

.shabad-content > div {
  margin-bottom: 1rem;
}

.shabad .line {
  position: relative;
}

.shabad-content p,
.clear {
  clear: both;
  margin-bottom: 0;
}

.shabad-content blockquote {
  clear: both;
}

.shabad .line .share {
  background-color: rgba(255, 255, 255, 0.85);
  display: none;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.shabad .line:hover .share {
  display: block;
}

.shabad .share a {
  color: #000;
  margin-left: 5px;
  padding: 0.5rem;
}

.shabad .share .copy:hover {
  color: #f39c1d;
}

.shabad .share .twitter:hover {
  color: #00aced;
}

.shabad .share .facebook:hover {
  color: #3b5998;
}

.shabad textarea {
  display: none;
}

@media screen and (min-width: 350px) {
  .pagination .shabad-nav a {
    span {
      display: initial;
    }

    i {
      flex-grow: 0;
    }
  }
}

@media screen and (min-width: 46em) {
  #metadata {
    margin: 1rem 2rem 1rem 3rem;
    width: calc(100% - 5rem);
  }

  .shabad-nav,
  .shabad-nav a {
    margin: 0;
  }

  .pagination .shabad-nav div {
    font-size: 0.5em;
    top: 0.75em;
  }

  .pagination .shabad-nav.left div {
    left: 3em;
  }

  .pagination .shabad-nav.right div {
    right: 3em;
  }

  .shabad {
    padding: 0 2rem 0 3rem;
  }

  #share-menu {
    background-color: #fafafa;
  }
}
