/* ***** Sharing Buttons *****
  https://simplesharingbuttons.com/#code
*/
#share-menu {
  border-radius: 2px;
  height: calc(10px + 2em);
  margin-bottom: 0.5rem;
  margin-right: 35px;
  padding: 0 35px !important;

  a {
    background-color: transparent !important;
    color: $sttm-blue;

    .dark-mode & {
      color: $sttm-light-blue;
    }
  }

  @media screen and (max-width: 46em) {
    margin-right: 0 !important;
    padding: 0 !important;
  }
}

.share-buttons {
  list-style: none;
  margin: auto -20px;
  padding: 5px 0;

  li {
    display: inline;
    margin-left: 5px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .sr-only {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  @media screen and (max-width: 45.999999em) {
    margin: auto !important;
    overflow: hidden;
    text-align: center;
    width: 0;
    z-index: -1;
  }

  #copy-short-url {
    position: relative;

    .short-url {
      &-input {
        background-color: $sttm-white;
        display: inline-block;
        font-size: 11px;
        height: auto;
        margin: 0;
        position: relative;
        top: -12px;
        width: 175px;

        .dark-mode & {
          background-color: $sttm-lighter-black;
          border-color: $sttm-black;
          color: $sttm-white;
        }
      }

      &-icon {
        box-shadow: -5px 0 7px -6px $sttm-grey;
        cursor: copy;
        height: 0.8em;
        position: absolute;
        right: 0;
        top: -14px;
        width: 0.8em;

        .dark-mode & {
          box-shadow: -5px 0 7px -6px $sttm-light-black;
        }
      }
    }
  }
}

.chevron,
.Hour24 {
  fill: $sttm-orange;
}

.hukamnama-nav-icon {
  > span {
    display: block;
    font-size: 0.35em;
  }
}

.share-buttons svg,
.share svg {
  fill: $sttm-darker-grey;
  font-size: 2em;
  padding: 5px;

  @media screen and (max-width: 45.999999em) {
    font-size: 2em !important;
  }
}

@media screen and (max-width: 45.999999em) {
  .share-buttons,
  #share-menu {
    text-align: left;
    width: calc(100% - 1rem) !important;

    .dark-mode & {
      background-color: $sttm-light-black;
    }
  }
}

.toast-notification {
  animation: flip-open ease-in 0.15s;
  background-color: $sttm-black;
  border-radius: 0.5em;
  bottom: 1em;
  box-shadow: 0 0 1em -0.2em black;
  color: $sttm-white;
  font-weight: 400;
  left: 0;
  margin: 0 auto;
  padding: 0.8rem 1.8rem;
  position: fixed;
  right: 0;
  text-align: center;
  width: 30vw;
  z-index: 6;

  .toast-notification-close-button {
    margin: 0.6em;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      color: $sttm-orange;
    }
  }

  @media screen and (max-width: 100em) {
    width: 60vw;
  }

  @media screen and (max-width: 45.999999em) {
    border-radius: 0;
    bottom: 0;
    box-shadow: none;
    font-size: 0.8rem;
    text-align: left;
    width: 100vw;
  }

  .dark-mode & {
    background-color: $sttm-orange;
    color: $sttm-black;
  }

  &-green {
    background-color: $sttm-green;
  }
}
