/* ***** Sharing Buttons *****
  https://simplesharingbuttons.com/#code
*/
#share-menu {
  border-radius: 2px;
  float: right;
  height: calc(10px + 2em);
  margin-bottom: 0.5rem;
  margin-right: 35px;
  padding: 0 35px !important;

  a {
    background-color: transparent !important;
    color: $sttm-blue;

    .dark-mode & {
      color: $sttm-light-blue;
    }
  }

  @media screen and (max-width: 45.999999em) {
    margin-right: 0 !important;
    padding: 0 !important;
  }
}

.share-buttons {
  float: right;
  list-style: none;
  margin: auto -20px;
  padding: 5px 0;

  li {
    display: inline;
    margin-left: 5px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .sr-only {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  @media screen and (max-width: 45.999999em) {
    float: none !important;
    margin: auto !important;
    overflow: hidden;
    text-align: center;
    width: 0;
    z-index: -1;
  }

  #copy-short-url {
    position: relative;

    .short-url {
      &-input {
        display: inline-block;
        font-size: 11px;
        height: auto;
        margin: 0;
        position: relative;
        top: -12px;
        width: 175px;
      }

      &-icon {
        box-shadow: -5px 0 7px -6px $sttm-grey;
        height: 0.8em;
        position: absolute;
        right: 0;
        top: -14px;
        width: 0.8em;
      }
    }
  }
}

.chevron {
  fill: $sttm-orange;
}

.share-buttons svg,
.share svg {
  fill: $sttm-darker-grey;
  font-size: 2em;
  padding: 5px;

  @media screen and (max-width: 45.999999em) {
    font-size: 2em !important;
  }
}

@media screen and (max-width: 45.999999em) {
  .share-buttons,
  #share-menu {
    background-color: $sttm-white;
    margin-left: 1rem !important;
    text-align: left;
    width: 100% !important;

    .dark-mode & {
      background-color: $sttm-light-black;
    }
  }
}

.toast-notification {
  background-color: $sttm-black;
  color: $sttm-orange;
  font-weight: 400;
  left: 0;
  padding: 0.5rem 1rem;
  position: fixed;
  right: 0;
  text-shadow: 0 0 0.05rem $sttm-pure-black;
  top: 0;
  z-index: 4;

  @media screen and (max-width: 45.999999em) {
    bottom: 0;
    top: auto;
  }

  .dark-mode & {
    background-color: $sttm-orange;
    color: $sttm-black;
    text-shadow: none;
  }
}
