blockquote {
  border: none;
  margin: 0 0 0.1rem;
  padding: 0 1.25rem 0 0;
}

.search-results blockquote {
  font-size: 0.85em;
  margin: 0 auto;
}

#metadata {
  align-items: center;
  border: 1px solid $sttm-light-grey;
  border-radius: 2px;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: calc(100% - 2rem);

  &:empty {
    display: none;
  }

  .dark-mode & {
    border-color: $sttm-dark-grey;
  }
}

.baaniLine {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  &Content {
    max-width: 100%;
    min-width: 100%;
    scroll-snap-align: end;
  }

  &Actions {
    align-items: center;
    background-color: $sttm-transparent-white;
    display: flex;
    justify-content: space-around;
    padding: 0 10px;

    svg {
      fill: $sttm-dark-grey;
    }

    .dark-mode & {
      background-color: $sttm-orange;

      svg {
        fill: $sttm-black;
      }
    }

    &Wrapper {
      max-width: 25%;
      min-width: 25%;
      scroll-snap-align: start;

      @media screen and (min-width: 730px) {
        display: none;
      }
    }
  }
}

.shabad-nav {
  a {
    color: $sttm-orange;
    font-size: 50px;
    font-weight: 500;
    position: relative;

    &:hover {
      color: $sttm-dark-grey;
    }
  }

  &.right {
    margin-left: 10px;
    text-align: right;
  }

  &.left {
    margin-right: 10px;
  }

  &.disabled-nav {
    a {
      color: $sttm-dark-grey;

      svg {
        fill: $sttm-dark-grey;
      }
    }
  }
}

.meta {
  flex-grow: 1;
}

.pagination {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0 0.5em;
  width: 100%;

  .shabad-nav {
    flex-grow: 1;

    a {
      align-items: center;
      display: flex;

      &:hover {
        background-color: initial;
      }

      i {
        flex-grow: 1;
      }
    }

    span {
      display: none;
      flex-grow: 1;
      font-size: 0.35em;
    }

    &.left span {
      margin-left: 10px;
    }

    &.right span {
      margin-right: 10px;
    }
  }
}

.shabad-container {
  width: 100%;
}

.shabad-content > div {
  margin-bottom: 1rem;
}

.shabad-content p,
.clear {
  clear: both;
  margin-bottom: 0;
}

.shabad-content blockquote {
  clear: both;
}

.shabad {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 1rem;
  width: 100%;

  .line {
    .gurbani-display {
      transition: font-size 0.25s cubic-bezier(0.68, -0.55, 0.27, 1.55);

      span {
        transition: color 0.25s ease-in;
      }
    }

    .share {
      background-color: $sttm-transparent-white;
      display: none;
      padding: 5px;
      position: absolute;
      right: 0;
      top: 0;

      .dark-mode & {
        background-color: $sttm-lighter-black;
      }

      a {
        color: $sttm-pure-black;
        margin-left: 5px;
        padding: 0.5rem;
      }

      .copy:hover {
        color: $sttm-orange;
      }

      .twitter:hover {
        color: $twitter-blue;
      }

      .facebook:hover {
        color: $facebook-blue;
      }
    }

    &:hover .share {
      display: block;
    }
  }

  .mixed-view-baani {
    .line {
      margin-bottom: -27px;
      position: relative;
    }
  }
}

@media screen and (min-width: 350px) {
  .pagination .shabad-nav a {
    span {
      display: initial;
    }

    i {
      flex-grow: 0;
    }
  }
}

@media screen and (max-width: 730px) {
  .share,
  .line:hover .share {
    display: none !important;
  }
}

@media screen and (min-width: 46em) {
  #metadata {
    margin: 1rem 2rem 1rem 3rem;
    width: calc(100% - 5rem);
  }

  .shabad-nav,
  .shabad-nav a {
    margin: 0;
  }

  .pagination .shabad-nav div {
    font-size: 0.5em;
    top: 0.75em;
  }

  .pagination .shabad-nav.left div {
    left: 3em;
  }

  .pagination .shabad-nav.right div {
    right: 3em;
  }

  .shabad {
    padding: 0 2rem 0 3rem;
  }

  .dark-mode #share-menu {
    background-color: $sttm-light-black;
  }
}

.relatedShabad {
  border: 1px solid $sttm-light-grey;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  max-width: 60%;
  min-width: 60%;
  padding: 1rem;
  scroll-margin-left: 0.5rem;
  scroll-snap-align: start;
  width: 60%;

  @media screen and (min-width: 46em) {
    max-width: 40%;
    min-width: 40%;
    width: 40%;
  }

  &:hover {
    box-shadow: 0 0 10px -4px $sttm-dark-grey;
    color: inherit;
  }

  &Container {
    display: flex;
    margin: 0.5rem -0.5rem;
    overflow: auto;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &Wrapper {
    margin-top: 3rem;
  }

  &Title {
    font-size: 1.7em;
  }
}
