/* stylelint-disable at-rule-no-unknown */

div[tabindex='-1']:focus {
  // remove focus outline from the HotKeys containder div
  outline: 0;
}

blockquote {
  border: none;
  margin: 0 0 0.1rem;
  padding: 0 1.25rem 0 0;
}

.center-align {
  text-align: center;
}

.search-results blockquote {
  font-size: 0.85em;
  margin: 0 auto;
}

.gurlipi {
  display: inline-block;
}

#metadata {
  align-items: center;
  background-color: #e9e9e9;
  border-radius: 2px;
  display: flex;
  margin: 1rem;
  padding: 1rem 1rem 0.5rem;
  text-align: center;
  width: calc(100% - 2rem);

  &:empty {
    display: none;
  }

  .dark-mode & {
    background-color: #111;
  }
}

.shabad-nav {
  a {
    color: $sttm-orange;
    font-size: 50px;
    font-weight: 500;
    position: relative;

    &:hover {
      color: $sttm-dark-grey;
    }
  }

  &.right {
    margin-left: 10px;
    text-align: right;
  }

  &.left {
    margin-right: 10px;
  }

  &.disabled-nav {
    a {
      color: $sttm-dark-grey;

      svg {
        fill: $sttm-dark-grey;
      }
    }
  }
}

.meta {
  flex-grow: 1;

  &-hukamnama {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;

    h4 {
      font-size: 1.2rem;

      span {
        color: $sttm-orange;
      }
    }

    &-left,
    &-right {
      @include flex-center();
    }
  }
}

.mixed-view-baani-transliteration-shahmukhi {
  clear: both;
  display: flex;
  float: right;
}

.pagination {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0 0.5em;
  width: 100%;

  .shabad-nav {
    flex-grow: 1;

    a {
      align-items: center;
      display: flex;

      &:hover {
        background-color: initial;
      }

      i {
        flex-grow: 1;
      }
    }

    span {
      display: none;
      flex-grow: 1;
      font-size: 0.35em;
    }

    &.left span {
      margin-left: 10px;
    }

    &.right span {
      margin-right: 10px;
    }
  }
}

.metadata-hukamnama,
.pagination-hukamnama {
  .shabad-nav {
    .fullscreen-view & {
      display: none;
    }
  }
}

.shabad-container {
  margin-top: 10px;
  width: 100%;
}

.shabad-content > div {
  margin-bottom: 1rem;
}

.shabad-content p,
.clear {
  clear: both;
  margin-bottom: 0;
}

.shabad-content blockquote {
  clear: both;
}

.shabad {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 4px 1rem;
  width: 100%;

  .line {
    .gurbani-display {
      transition: font-size 0.25s cubic-bezier(0.68, -0.55, 0.27, 1.55);

      span {
        transition: color 0.25s ease-in;
      }
    }

    .share {
      background-color: $sttm-transparent-white;
      display: none;
      padding: 5px;
      position: absolute;
      right: 0;
      top: 0;

      &.showShare {
        display: block;
      }

      .dark-mode & {
        background-color: $sttm-lighter-black;
      }

      a {
        color: $sttm-pure-black;
        margin-left: 5px;
        padding: 0.5rem;
      }

      .copy:hover {
        > svg {
          fill: $sttm-orange;
        }
      }

      .twitter:hover {
        > svg {
          fill: $twitter-blue;
        }
      }

      .facebook:hover {
        > svg {
          fill: $facebook-blue;
        }
      }
    }
  }

  .split-view-baani {
    &-line {
      &.paragraph-mode > * {
        display: inline;
      }
    }

    &-paragraph {
      margin-bottom: 4px;
      position: relative;

      &.paragraph-mode * {
        display: inline;

        .share {
          display: none;
        }
      }
    }

    &-translation {
      margin-bottom: 4px;

      &.paragraph-mode * {
        display: inline;

        &.translation {
          margin: 0;
          margin-right: 4px;
          padding: 0;
        }
      }
    }

    &-transliteration {
      margin-bottom: 4px;

      &.paragraph-mode * {
        display: inline;

        & .transliteration {
          margin-right: 4px;
        }
      }
    }

    &-steek {
      font-family: gurmukhi_normal, sans-serif;
      margin-bottom: 4px;

      &.paragraph-mode * {
        display: inline;

        & .steek {
          margin-right: 4px;
        }
      }
    }

    &-wrapper {
      &.paragraph-mode {
        margin-bottom: 16px;
      }
    }
  }

  .mixed-view-baani {
    &-paragraph {
      margin-bottom: 4px;
      position: relative;

      &.paragraph-mode * {
        display: inline;

        .share {
          display: none;
        }
      }
    }

    &-translation {
      margin-bottom: 4px;

      &.paragraph-mode * {
        display: inline;

        & .translation {
          margin: 0;
          margin-right: 4px;
          padding: 0;
        }
      }
    }

    &-transliteration {
      margin-bottom: 4px;

      &.paragraph-mode * {
        display: inline;

        & .transliteration {
          margin-right: 4px;
        }
      }
    }

    &-steek {
      font-family: gurmukhi_normal, sans-serif;
      margin-bottom: 4px;

      &.paragraph-mode * {
        display: inline;

        & .transliteration {
          margin-right: 4px;
        }
      }
    }

    &-wrapper {
      margin-top: 15px;
      position: relative;

      &.paragraph-mode {
        margin-bottom: 16px;

        & div[class^="mixed-view-baani-translation-"],
        & div[class^="mixed-view-baani-transliteration-"] {
          display: block;
          margin-bottom: 4px;
        }
      }
    }
  }

  .full-screen-baani {
    padding: 60px 10px;

    .line {
      div {
        padding-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width: 350px) {
  .pagination .shabad-nav a {
    span {
      display: initial;
    }

    i {
      flex-grow: 0;
    }
  }
}

@media screen and (max-width: 730px) {
  .share,
  .line:hover .share {
    display: none !important;
  }
}

@media screen and (min-width: 46em) {
  #metadata {
    margin: 1rem 2rem 1rem 3rem;
    width: calc(100% - 5rem);
  }

  .shabad-nav,
  .shabad-nav a {
    margin: 0;
  }

  .pagination .shabad-nav div {
    font-size: 0.5em;
    top: 0.75em;
  }

  .pagination .shabad-nav.left div {
    left: 3em;
  }

  .pagination .shabad-nav.right div {
    right: 3em;
  }

  .shabad {
    padding: 4px 2rem 0 3rem;
  }

  .dark-mode #share-menu {
    background-color: $sttm-light-black;
  }
}

.relatedShabad {
  background-color: $sttm-pure-white;
  border: 1px solid $sttm-light-grey;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 $sttm-grey;
  color: $sttm-black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 30px 30px 0;
  max-width: calc(50% - 30px);
  scroll-margin-left: 0.5rem;
  scroll-snap-align: start;
  transition: 0.3s ease-in;
  width: 100%;

  @media screen and (max-width: 700px) {
    margin-right: 0;
    max-width: 100%;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 $sttm-grey;
    color: inherit;
  }

  .dark-mode & {
    background-color: $sttm-lighter-black;
    border: 1px solid $sttm-pure-black;
    box-shadow: 0 4px 8px 0 $sttm-lighter-black;
    color: $sttm-light-grey;

    &:hover {
      box-shadow: 0 8px 16px 0 $sttm-pure-black;
    }
  }

  &Inner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &Container {
    display: flex;
    flex-wrap: wrap;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &Wrapper {
    margin-top: 3rem;

    .fullscreen-view & {
      display: none;
    }
  }

  &Title {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
  }

  &Transliteration,
  &Quote {
    color: $sttm-pure-black;
    font-size: 13px;
    margin-bottom: 4px;

    .dark-mode & {
      color: $sttm-light-grey;
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 10px;

    &Footer {
      align-items: center;
      display: flex;
      margin: 0;

      @media screen and (max-width: 700px) {
        align-items: center;
        flex-direction: row;
      }

      @media screen and (min-width: 701px) and (max-width: 900px),
        (max-width: 500px) {
        align-items: start;
        flex-direction: column;
      }
    }
  }

  &ShowMore {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: calc(100% - 30px);

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }

  &Source {
    color: $sttm-lighter-black;
    font-size: 16px;
    margin-right: 8px;
    opacity: 0.9;

    .dark-mode & {
      color: $sttm-light-grey;
    }

    &:last-child {
      margin-right: 0;
    }

    &.englishSource {
      color: $sttm-pure-black;
      opacity: 1;

      .dark-mode & {
        color: $sttm-light-grey;
      }
    }
  }

  &AvgRating {
    background-color: $sttm-grey;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 8px;
    position: relative;
    width: 100%;

    &Excellent {
      background-color: $sttm-green;
    }

    &Good {
      background-color: $sttm-orange;
    }

    &Poor {
      background-color: $sttm-red;
    }
  }

  &AvgRatingMeter {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 100%;
    left: 0;
    position: absolute;
    top: -1px;
    transform-origin: left;
    transition: transform 0.1s ease-in-out;
    width: 100%;
  }
}
