.spinner {
  animation: shadow-pulse 1s infinite;
  background-image: url(/assets/images/banidblogo.png);
  background-size: 200px 200px;
  border-radius: 50%;
  height: 200px;
  left: 50%;
  margin: 10% 0 0 -60px;
  opacity: 0.5;
  position: relative;
  width: 200px;
  z-index: 1;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 1px rgba(250, 130, 2, 1);
  }

  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 45.999999em) {
  .spinner {
    background-size: 150px 150px;
    height: 150px;
    width: 150px;
  }
}
