.search {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 5px 0;
  width: 45vw;

  &:hover,
  &:focus,
  &:active {
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  }

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;

  &--link {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }

  &--item {
    border: 1px solid black;
    border-radius: 5px;
    list-style: none;
    margin: 10px 5px;
    padding: 10px;
    text-transform: capitalize;

    &:hover {
      box-shadow: 0 0 2px 1px $sttm-light-grey;
    }
  }
}

.baani {
  width: 100%;
}
