.search {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 $sttm-transparent-black, 0 0 0 1px $sttm-transparent-light-black;
  margin: 5px 0;

  &:hover,
  &:focus,
  &:active {
    border: none;
    box-shadow: 0 2px 2px 0 $sttm-transparent-black, 0 0 0 1px $sttm-transparent-light-black;
  }

  .dark-mode & {
    background-color: $sttm-lighter-black;
    color: $sttm-dark-white;

    &::placeholder {
      color: $sttm-dark-grey;
    }
  }
}

.list {
  margin: 0 -5px;

  &--link {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }

  &--item {
    border: 1px solid $sttm-light-grey;
    border-radius: 5px;
    list-style: none;
    margin: 10px 5px;
    padding: 10px;
    text-transform: capitalize;

    &:hover {
      box-shadow: 0 0 2px 1px $sttm-light-grey;
    }

    .dark-mode & {
      background-color: $sttm-transparent-light-black;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.baani {
  width: 100%;
}
