.search {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 $sttm-transparent-black, 0 0 0 1px $sttm-transparent-light-black;
  margin: 10px 0;

  &:hover,
  &:focus,
  &:active {
    border: none;
    box-shadow: 0 2px 2px 0 $sttm-transparent-black, 0 0 0 1px $sttm-transparent-light-black;
  }

  .dark-mode & {
    background-color: $sttm-lighter-black;
    color: $sttm-dark-white;

    &::placeholder {
      color: $sttm-dark-grey;
    }
  }
}

.list {
  margin: 0 -5px;

  &--link {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }

  @keyframes slide-right {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }

  &--item {
    animation: slide-right 0.25s ease-in-out forwards;
    border: 1px solid $sttm-light-grey;
    border-radius: 5px;
    list-style: none;
    margin: 10px 5px;
    padding: 10px;
    text-transform: capitalize;
    transform: translateX(-50%);

    &:hover {
      box-shadow: 0 0 2px 1px $sttm-light-grey;
    }

    .dark-mode & {
      background-color: $sttm-transparent-dark-black;
      border-color: $sttm-dark-grey;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.baani {
  width: 100%;
}

.playstore,
.appstore {
  &--icon {
    height: 1.25em;
    vertical-align: text-bottom;
    width: 1.25em;

    .dark-mode & {
      fill: $sttm-dark-white;
    }
  }

  &--link {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    white-space: pre;
  }
}

.sgCards {
  display: grid;
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

.sgCard {
  background-color: $sttm-blue;
  border-radius: 10px;
  color: white;
  height: 6em;
  padding: 1rem;

  &:hover {
    background-color: $sttm-dark-blue;
    box-shadow: 0 4px 8px $sttm-pure-black;
    transition: 0.3s;
  }
}

.sgCardGurmukhi {
  border-left: 2px solid $sttm-orange;
  font-size: 1.2em;
  padding-left: 10px;
}

.sgCardEnglish {
  font-size: smaller;
  margin-top: 2em;
  text-align: right;
  text-transform: capitalize;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .sgCards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .sgCards { grid-template-columns: repeat(3, 1fr); }
}

input[type=search] {
  color: $sttm-blue;
}
