/* stylelint-disable at-rule-no-unknown */

@mixin vishraamStyles($VISRAAM, $yamki) {
  $VISRAAM-main: $VISRAAM;
  $VISRAAM-yamki: $yamki;
  $VISRAAM-sources: ('sttm', 'sttm2', 'igurbani');

  @each $source in $VISRAAM-sources {
    &.display-visraams.vishraam-vishraam-options-colored-words.vishraam-vishraam-source-#{$source} {
      .gurlipi,
      .unicode {
        .VISRAAM-#{$source}-main {
          color: $VISRAAM-main;
        }

        .VISRAAM-#{$source}-yamki {
          color: $VISRAAM-yamki;
        }
      }
    }

    &.display-visraams.vishraam-vishraam-options-gradient-bg.vishraam-vishraam-source-#{$source} {
      .gurlipi,
      .unicode {
        span {
          border-radius: 15px;
        }

        .padchhed .VISRAAM-#{$source}-main,
        .padchhed .VISRAAM-#{$source}-yamki {
          padding-right: 5px;
        }

        .VISRAAM-#{$source}-main {
          background:
            linear-gradient(
              to right,
              rgba(229, 229, 229, 0) 20%,
              rgba($VISRAAM-main, 0.7) 100%
            );
        }

        .VISRAAM-#{$source}-yamki {
          background:
            linear-gradient(
              to right,
              rgba(229, 229, 229, 0) 20%,
              rgba($VISRAAM-yamki, 0.7) 100%
            );
        }
      }
    }
  }
}
