/* stylelint-disable at-rule-no-unknown */

@mixin vishraamStyles($visraam, $yamki) {
  $visraam-main: $visraam;
  $visraam-yamki: $yamki;
  $visraam-sources: ('sttm', 'sttm2', 'igurbani');

  @each $source in $visraam-sources {
    &.display-visraams.vishraam-vishraam-options-colored-words.vishraam-vishraam-source-#{$source} .gurlipi {
      .visraam-main.visraam-#{$source} {
        color: $visraam-main;
      }

      .visraam-yamki.visraam-#{$source} {
        color: $visraam-yamki;
      }
    }

    &.display-visraams.vishraam-vishraam-options-gradient-bg.vishraam-vishraam-source-#{$source} .gurlipi {
      span {
        border-radius: 15px;
      }

      .padchhed .visraam-main.visraam-#{$source},
      .padchhed .visraam-yamki.visraam-#{$source} {
        padding-right: 5px;
      }

      .visraam-main.visraam-#{$source} {
        background:
          linear-gradient(
            to right,
            rgba(229, 229, 229, 0) 20%,
            rgba($visraam-main, 0.7) 100%
          );
      }

      .visraam-yamki.visraam-#{$source} {
        background:
          linear-gradient(
            to right,
            rgba(229, 229, 229, 0) 20%,
            rgba($visraam-yamki, 0.7) 100%
          );
      }
    }
  }
}
