/* stylelint-disable at-rule-no-unknown */

@mixin vishraamStyles($visraam, $yamki) {
  $visraam-main: $visraam;
  $visraam-yamki: $yamki;
  $visraam-sources: ('sttm', 'sttm2', 'igurbani');

  @each $source in $visraam-sources {
    &.display-visraams.vishraam-vishraam-options-colored-words.vishraam-vishraam-source-#{$source} {
      .gurlipi,
      .gurlipi-reading-mode,
      .unicode {
        .visraam-#{$source}-main {
          color: $visraam-main !important;
        }

        .visraam-#{$source}-yamki {
          color: $sttm-orange !important;
        }
      }
    }

    &.display-visraams.vishraam-vishraam-options-gradient-bg.vishraam-vishraam-source-#{$source} {
      .gurlipi,
      .gurlipi-reading-mode,
      .unicode {
        span {
          border-radius: 15px;
        }

        .padchhed .visraam-#{$source}-main,
        .padchhed .visraam-#{$source}-yamki {
          padding-right: 5px;
        }

        .visraam-#{$source}-main {
          background:
            linear-gradient(
              to right,
              rgba(229, 229, 229, 0) 20%,
              rgba($visraam-main, 0.7) 100%
            ) !important;
        }

        .visraam-#{$source}-yamki {
          background:
            linear-gradient(
              to right,
              rgba(229, 229, 229, 0) 20%,
              rgba($visraam-yamki, 0.7) 100%
            ) !important;
        }
      }
    }
  }
}
