.waveform {
    display: flex;
    align-items: center;
    gap: 10px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &__placeholder {
        color: #999;
        font-size: 12px;
        text-align: center;

        .dark-mode & {
            color: #666;
        }
    }

    &__duration {
        color: #666;
        font-size: 14px;
        font-weight: 700;
        min-width: 40px;
        text-align: center;

        .dark-mode & {
            color: #999;
        }
    }

    &__svg {
        overflow: visible;
    }
}

.waveform-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 10px;
    transition: all 0.3s ease;
}