/* stylelint-disable at-rule-no-unknown */
@import "mixin",
  "colours",
  "auto-scroll-control",
  "display-controls",
  "error-page",
  "floating-actions",
  "footer",
  "fonts",
  "header",
  "helpers",
  "maryada",
  "panktee",
  "printer",
  "results",
  "search-page",
  "shabad-page",
  "sharing",
  "sync",
  "spinner",
  "sundar-gutka",
  "help",
  "controller",
  "banner",
  "baani-link",
  "granth-index",
  "vishraam",
  "mahankosh",
  "ui-controls",
  "accordion",
  "settings",
  "multiple-shabads",
  "preview-shabad",
  "favourite-shabads",
  "modals";
@import 'node_modules/react-smartbanner/dist/main';
@import 'node_modules/react-toastify/dist/ReactToastify.min';
@import 'node_modules/react-h5-audio-player/src/styles.scss';
@import 'overrides/react-date-picker';
@import 'overrides/react-h5-audio-player';
@import 'overrides/react-tooltip';

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: $sttm-dark-white;
  font-size: 18px;
  height: auto;
  min-height: 100%;
  padding-bottom: 100px;

  &.dark-mode {
    background-color: $sttm-light-black;
    color: $sttm-white;

    .translation,
    .steek {
      color: $sttm-grey;
    }
  }

  @include vishraamStyles($sttm-vishraam-red, $sttm-vishraam-yellow);
}

select {
  border-radius: 2px;

  .dark-mode & {
    background-color: $sttm-lighter-black;
    border-color: $sttm-light-black;
    color: $sttm-white;

    &:disabled {
      background-color: $sttm-dark-grey;
    }
  }
}

/* youtube responsive */
.videoWrapper {
  height: 0;
  padding-bottom: 56.25%;

  /* 16:9 */
  padding-top: 25px;
  position: relative;
}

.videoWrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.breadcrumb {
  font-size: 1rem;
  margin: 5px 3rem;

  &Last {
    font-weight: 500;
  }

  @media screen and (max-width: 950px) {
    display: none;
  }

  .fullscreen-view & {
    display: none;
  }

  + #controls-menu {
    margin-top: -27px;

    @media screen and (max-width: 950px) {
      margin-top: 0;
    }
  }
}

.wrapper {
  padding: 0 1rem;
}

.error-message {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 10vh 5vw;

  section {
    max-width: 40vw;
  }

  img {
    padding: 5vh 2vw;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column-reverse;

    section {
      max-width: none;
    }

    img {
      margin-bottom: 10px;
      max-height: 40vh;
      padding: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  h3 {
    font-weight: bold;
  }
}

.dark-mode {
  thead {
    background-color: $sttm-dark-grey;

    tr {
      color: $sttm-light-grey;
    }
  }

  tbody {
    background-color: $sttm-darker-grey;

    tr {
      background-color: $sttm-lighter-black;

      &:nth-child(even) {
        background-color: $sttm-light-black;
      }
    }
  }
}

#progressbar-root {
  height: 3px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;

  .progressbar {
    background-color: $sttm-orange;
    height: 3px;
    transition: transform ease-in-out 0.1s;
  }
}

#fullscreen {
  fill: $sttm-white;
}

.fullscreen {
  height: 22px;

  & > svg {
    transition: all 0.2s ease-in;
  }

  &:hover #fullscreen {
    fill: $sttm-orange;
  }
}

.fab {
  animation: grow ease-in-out 0.25s;
  cursor: pointer;
  height: 18px;
  transform: translateY(-2px);

  & svg {
    fill: $sttm-white;
    transition: all 0.2s ease-in;
  }

  @keyframes grow {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }
}

.sehaj-paath-link {
  background-color: $sttm-orange !important;
  text-align: center;

  svg {
    fill: $sttm-white;
    height: 80px;
    margin-right: 0.5rem;
    width: 100%;

    .dark-mode & {
      fill: $sttm-light-grey;
    }
  }
}

.scroll-to-top:hover svg {
  fill: $sttm-orange;
}

.logo-center {
  margin-top: 10px;

  a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
}

.fullscreen-view #freshworks-container {
  display: none;
}

.autoscroll-mode {
  @media screen and (max-width: 600px) {
    #freshworks-container {
      display: none;
    }
  }
}

.hide-mobile {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.hide-tablet {
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.hide-desktop {
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.angNo {
  background-color: $sttm-blue;
  border-radius: 5px;
  color: $sttm-white;
  padding: 5px;

  &:hover {
    background-color: $sttm-orange;
    color: $sttm-white;
    transition: 0.2s;
  }
}

.continue {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.smartbanner-show {
  margin-top: 80px;
}

.mahankoshTooltipWrapper {
  background-color: $sttm-dark-blue !important;
}

.mahankoshTooltipGurbaniWord {
  color: $sttm-orange;
  font-size: 2em;
}

.mahankoshTooltipSource {
  font-size: 0.6em;
  font-style: italic;
}

.__react_component_tooltip.show {
  opacity: 0.9 !important;
}

.hukamnama-player {
  &-close-icon {
    align-items: center;
    background: $sttm-white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    fill: $sttm-blue;
    float: right;
    height: 27px;
    justify-content: center;
    width: 27px;
  }

  &-close-icon-svg {
    fill: $sttm-blue;
    font-size: 14px;
  }

  &-title {
    color: $sttm-white;
    display: inline-block;
    font-size: 1rem;
  }
}

.shabad-player {
  &-close-icon {
    align-items: center;
    background: $sttm-white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    fill: $sttm-blue;
    float: right;
    height: 27px;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 27px;
  }

  &-close-icon-svg {
    fill: $sttm-blue;
    font-size: 14px;
  }

  &-title {
    color: $sttm-white;
    display: inline-block;
    font-size: 1rem;
  }

  &-footer {
    color: $sttm-white;
    display: flex;
    font-size: 1rem;
    justify-content: flex-end;
    margin: 0;
  }
}

.donate-button {
  background-color: $sttm-dark-orange;

  &-text {
    color: white !important;
    font-weight: bold;

    &:hover {
      color: $sttm-darker-grey !important;
    }
  }
}

body:not(.dark-mode) a {
  color: #1374b4;
}

.transparent-color {
  color: transparent !important;
}

.apps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 45em;
}

.apps-item {
  background-color: #01669b;
  border-radius: 45px;
  color: white;
  flex-basis: 150px;
  flex-grow: 1;
  margin: 0 25px 10px;
  max-height: 90px;
  max-width: 90px;
  min-height: 90px;
  min-width: 90px;
  padding: 10px;
  text-align: center;
  width: 150px;

  &:hover {
    background-color: $sttm-dark-blue;
    transition: 0.3s;
  }
}

.fp-buttons {
  font-size: 0.9rem;
  line-height: normal;
  margin-top: 15px;

  &-text {
    font-size: 0.9rem;
    text-align: center;
  }
}

.sehaj-paath {
  background-color: $sttm-dark-orange;
}

.apps-text {
  color: $sttm-white !important;
}

.apps-icon {
  fill: $sttm-white;
  max-height: 60px;
}

.apps-icon-container {
  margin: auto;
  width: 40px;
}

#app-root {
  overflow: hidden;
}

.pusher {
  left: 0;
  min-height: 85vh;
  top: 0;
  transition: transform 0.5s;

  &.enable {
    transform: translate(10%, 0);
    transform-origin: 0 0;
  }
}

.pin-settings {
  min-height: 85vh;
  right: 0;
  top: 0;
  transition: transform 0.5s;

  &.active {
    transform-origin: 0 0;
    width: 80%;
  }
}

.pin-settings-footer {
  right: 0;
  transform-origin: 0 0;
  transition: transform 0.5s;
  width: 77.5%;
}

.pin-settings-floating-icons {
  right: 22%;
  transform-origin: 0 0;
  transition: transform 0.5s;
}

.settingsTooltipWrapper {
  background-color: $sttm-dark-blue !important;
  max-width: 60%;
}
