@import
  "colours",
  "display-controls",
  "error-page",
  "footer",
  "fonts",
  "header",
  "helpers",
  "panktee",
  "printer",
  "results",
  "search-page",
  "shabad-page",
  "sharing",
  "sync",
  "spinner",
  "sundar-gutka",
  "help",
  "controller",
  "banner";

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: $sttm-dark-white;
  font-size: 18px;
  height: auto;
  min-height: 100%;
  padding-bottom: 100px;
  position: relative;

  &.dark-mode {
    background-color: $sttm-light-black;
    color: $sttm-white;
  }
}

select {
  border-radius: 2px;

  .dark-mode & {
    background-color: $sttm-lighter-black;
    border-color: $sttm-light-black;
    color: $sttm-white;

    &:disabled {
      background-color: $sttm-dark-grey;
    }
  }
}

/* youtube responsive */
.videoWrapper {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  position: relative;
}

.videoWrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.breadcrumb {
  font-size: 1rem;
  margin: 5px 3rem;

  &Last {
    font-weight: 500;
  }

  @media screen and (max-width: 730px) {
    margin: 5px 1rem;
  }
}

.wrapper {
  padding: 0 1rem;
}

.error-message {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 10vh 5vw;

  section {
    max-width: 40vw;
  }

  img {
    padding: 5vh 2vw;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column-reverse;

    section {
      max-width: none;
    }

    img {
      margin-bottom: 10px;
      max-height: 40vh;
      padding: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  h3 {
    font-weight: bold;
  }
}

.dark-mode {
  thead {
    background-color: $sttm-dark-grey;

    tr {
      color: $sttm-light-grey;
    }
  }

  tbody {
    background-color: $sttm-darker-grey;

    tr {
      background-color: $sttm-lighter-black;

      &:nth-child(even) {
        background-color: $sttm-light-black;
      }
    }
  }
}

#progressbar-root {
  height: 3px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;

  .progressbar {
    background-color: $sttm-orange;
    height: 3px;
    transition: transform ease-in-out 0.1s;
  }
}

.scroll-to-top {
  align-items: center;
  animation: grow ease-in-out 0.25s;
  background-color: $sttm-white;
  border-radius: 50%;
  bottom: 28px;
  box-shadow: 0 1px 4px 0 $sttm-dark-grey;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 28px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 50px;
  z-index: 5;

  @keyframes grow {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }

  .dark-mode & {
    background-color: $sttm-darker-grey;
    box-shadow: none;
  }
}

.sehaj-paath-link {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  svg {
    fill: $sttm-light-black;
    margin-right: 0.5rem;

    .dark-mode & {
      fill: $sttm-light-grey;
    }
  }
}

.logo-center {
  margin-top: 10px;

  a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
}
