/* stylelint-disable at-rule-no-unknown */
@import "mixin",
  "colours",
  "auto-scroll-control",
  "display-controls",
  "error-page",
  "floating-actions",
  "footer",
  "fonts",
  "header",
  "helpers",
  "panktee",
  "printer",
  "results",
  "search-page",
  "shabad-page",
  "sharing",
  "sync",
  "spinner",
  "sundar-gutka",
  "help",
  "controller",
  "banner",
  "baani-link",
  "granth-index",
  "vishraam",
  "mahankosh",
  "ui-controls";
@import 'overrides/react-date-picker';
@import 'node_modules/react-smartbanner/dist/main';
@import 'node_modules/react-toastify/dist/ReactToastify.min';

html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: $sttm-dark-white;
  font-size: 18px;
  height: auto;
  min-height: 100%;
  padding-bottom: 100px;

  &.dark-mode {
    background-color: $sttm-light-black;
    color: $sttm-white;

    .translation,
    .steek {
      color: $sttm-grey;
    }
  }

  @include vishraamStyles($sttm-vishraam-red, $sttm-vishraam-yellow);
}

select {
  border-radius: 2px;

  .dark-mode & {
    background-color: $sttm-lighter-black;
    border-color: $sttm-light-black;
    color: $sttm-white;

    &:disabled {
      background-color: $sttm-dark-grey;
    }
  }
}

/* youtube responsive */
.videoWrapper {
  height: 0;
  padding-bottom: 56.25%;

  /* 16:9 */
  padding-top: 25px;
  position: relative;
}

.videoWrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.breadcrumb {
  font-size: 1rem;
  margin: 5px 3rem;

  &Last {
    font-weight: 500;
  }

  @media screen and (max-width: 730px) {
    margin: 5px 1rem;
  }

  .fullscreen-view & {
    display: none;
  }
}

.wrapper {
  padding: 0 1rem;
}

.error-message {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 10vh 5vw;

  section {
    max-width: 40vw;
  }

  img {
    padding: 5vh 2vw;
  }

  @media screen and (max-width: 500px) {
    flex-direction: column-reverse;

    section {
      max-width: none;
    }

    img {
      margin-bottom: 10px;
      max-height: 40vh;
      padding: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  h3 {
    font-weight: bold;
  }
}

.dark-mode {
  thead {
    background-color: $sttm-dark-grey;

    tr {
      color: $sttm-light-grey;
    }
  }

  tbody {
    background-color: $sttm-darker-grey;

    tr {
      background-color: $sttm-lighter-black;

      &:nth-child(even) {
        background-color: $sttm-light-black;
      }
    }
  }
}

#progressbar-root {
  height: 3px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;

  .progressbar {
    background-color: $sttm-orange;
    height: 3px;
    transition: transform ease-in-out 0.1s;
  }
}

#fullscreen {
  fill: $sttm-white;
}

.fullscreen {
  height: 22px;

  & > svg {
    transition: all 0.2s ease-in;
  }

  &:hover #fullscreen {
    fill: $sttm-orange;
  }
}

.fab {
  animation: grow ease-in-out 0.25s;
  cursor: pointer;
  height: 18px;
  transform: translateY(-2px);

  & svg {
    fill: $sttm-white;
    transition: all 0.2s ease-in;
  }

  @keyframes grow {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }
}

.sehaj-paath-link {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  svg {
    fill: $sttm-light-black;
    margin-right: 0.5rem;

    .dark-mode & {
      fill: $sttm-light-grey;
    }
  }
}

.scroll-to-top:hover svg {
  fill: $sttm-orange;
}

.logo-center {
  margin-top: 10px;

  a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
}

.fullscreen-view #freshworks-container {
  display: none;
}

.autoscroll-mode {
  @media screen and (max-width: 600px) {
    #freshworks-container {
      display: none;
    }
  }
}

.hide-mobile {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.hide-tablet {
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.hide-desktop {
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.angNo {
  background-color: $sttm-blue;
  border-radius: 5px;
  color: $sttm-white;
  padding: 5px;

  &:hover {
    background-color: $sttm-orange;
    color: $sttm-white;
    transition: 0.2s;
  }
}

.continue {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.smartbanner-show {
  margin-top: 80px;
}

.mahankoshTooltipWrapper {
  background-color: $sttm-dark-blue !important;
}

.mahankoshTooltipGurbaniWord {
  color: $sttm-orange;
  font-size: 2em;
}

.mahankoshTooltipSource {
  font-size: 0.6em;
  font-style: italic;
}
