name: Trigger auto deployment for dev-sttm-web

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ dev ]
    paths:
    - '**'
    - '.github/workflows/dev-sttm-web-AutoDeployTrigger-20952253-f106-4264-a850-1a8fd6340281.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.DEVSTTMWEB_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.DEVSTTMWEB_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.DEVSTTMWEB_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          registryUrl: khalis.azurecr.io
          registryUsername: ${{ secrets.DEVSTTMWEB_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.DEVSTTMWEB_REGISTRY_PASSWORD }}
          containerAppName: dev-sttm-web
          resourceGroup: devops
          imageToBuild: khalis.azurecr.io/dev-sttm-web:${{ github.sha }}
          _buildArgumentsKey_: |
            NODE_ENV=development
